<section id="home" class="shapedividers_com-3425" style="background-color: #fcc74d">
    <div class="banner-content">
        <div class="banner-column">
            <div class="banner-ajust">
                <h1>Firulaix Coin<br>tu mejor crypto amigo</h1>
                <p>Identificamos a todos los animales con y sin hogar con un chip que cuenta con un código único para registrarlo con tecnología blockchain.</p>    
            
                <div class="banner-buttons">
                    <button mat-stroked-button color="accent" class="button-main">Conoce más</button>
                    <button mat-stroked-button color="accent" class="button-main">Copiar enlace</button>
                </div>
            </div>
        </div> 

        <div class="banner-column banner-image">
            <img src="../.././../assets/image-banner.png" alt="">
        </div>
    </div>
</section>

<section id="home">
    <div class="buttons-card">
        <div class="content-buttons">
            <button mat-stroked-button color="accent" class="button">Comprar ahora en Apeswap</button>
            <button mat-stroked-button color="accent" class="button">Agregar liquidez en Apeswap</button>
            <button mat-stroked-button color="accent" class="button">Compruebe BSC scan</button>
            <button mat-stroked-button color="accent" class="button">Ver soportes LP</button>
        </div>

        <div class="content-graphics">
            <div class="graphic-item">
                <img src="../.././../assets/stats_2.png">
                <div>
                    <h1>1 M</h1>
                    <p>Chips ID</p>
                </div>
            </div>

            <div class="graphic-item">
                <img src="../.././../assets/stats_3.png">
                <div>
                    <h1>150 M</h1>
                    <p>Token Firu's</p>
                </div>
            </div>

            <div class="graphic-item">
                <img src="../.././../assets/stats_4.png">
                <div>
                    <h1>$500K</h1>
                    <p>Inversión total</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="home">
    <div class="section-content">
        <div class="column">
            <div>
                <img src="../.././../assets/firu.png">
            </div>
        </div>
    
        <div class="column">
            <div class="column-ajust">
                <h1>Mi objetivo</h1>
                <h2>Ayudaré a todos mis amigos a tener una identidad y trazabilidad de vida registrada en mi blockchain</h2>
                <p>Soy un proyecto desarrollado por tecnología BLOCKCHAIN, mis creadores programaron identificar a todos mis amigos caninos y felinos con hogar o sin hogar, ganados, peces, en cautiverio o silvestres con un chip que cuenta con un código único y será vinculado con todos los datos requeridos para registrarlo en mi blockchain adicionando un smart contract Erc-721, haciendolos únicos por la enternidad.</p>
            </div>
        </div>
    </div>

    <div class="section-content-cards">
        <div class="content-cards-ajust">
            <mat-card>
                <mat-card-title>Blockchain</mat-card-title>
                <mat-card-content>
                    <div>
                        Este proceso hará que todos mis amigos caninos puedan ser identificados y ubicados con sus dueños. Y en el caso de no tenerlos podemos buscarle uno.
                    </div>
                    <img src="../.././../assets/about_1.png">
                </mat-card-content>               
            </mat-card>

            <mat-card>
                <mat-card-title>Chip de identificación</mat-card-title>
                <mat-card-content>
                    <div>
                        Cada animal estará con el chip vinculado a un código en mi blockchain y una direccion(wallet) que les brindaremos a cada uno al momento de registrarlos.
                    </div>  
                    <img src="../.././../assets/about_2.png">
                </mat-card-content>               
            </mat-card>
            
            <mat-card>
                <mat-card-title>Código QR</mat-card-title>
                <mat-card-content>
                    <div>
                        Todos contarán con una dirección de mi blockchain y podrá recibir mis token’s por medio de un QR que estará en su collar y será administrado por su dueño o su futuro dueño.
                    </div>
                    <img src="../.././../assets/about_3.png">
                </mat-card-content>               
            </mat-card>
        </div>
    </div>
</section>


<section id="home">
    <div class="section-content">
        <div class="column">
            <div class="column-ajust">
                <h1>Adquiere tus Firus</h1>
                <h2>Calcula el monto de tus firus</h2>
                <p>Puedes adquirir tus firus en nuestro intercambio.</p>
                <div>
                    <button mat-stroked-button color="accent" class="button-main" style="color: #fff; background-color: rgba(255, 255, 255, 0.198);">Exchange</button>
                </div>
            </div>
        </div>

        <div class="column">
            <mat-card  class="column-card" style="display: flex; justify-content: center;">
                <video autoplay loop muted>
                    <source src="../.././../assets/video/firu-video.mp4" type="video/mp4" />
                </video>
            </mat-card>
        </div>
        
    </div>
</section>


<section id="home" style="background-color: #fff">
    <div class="white-section-content">


        <div class="white-section-title">
            <p>Billetera Virtual</p>
            <h1>Pasos simples para comenzar</h1>
            <h2>Sigue estos sencillos pasos para descargar tu billetera virtual. Usando Firu's, podrás lograr ahorros significativos en fee´s, tiempo y te brindará seguridad de tu dinero.</h2>
        </div>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="1. Instala tu billetera">

                <div class="instructions-section">
                    <div class="instruction-card">

                        <div class="instruction-card-circle">
                            <div class="card-circle">
                                <div>
                                    <i class="flaticon-wallet"></i>
                                </div>
                            </div> 
                        </div>

                        <div class="instruction-card-title">
                            <h2>Billeteras</h2>
                            <p>Billeteras virtuales</p>
                        </div>

                        <div class="instruction-card-images">
                            <img src="../../../assets/metamask/metamask.png">
                            <img src="../../../assets/trust/trust-wallet.png">
                        </div>

                        <div class="instruction-card-number">
                            <div>
                                1
                            </div>
                        </div>

                    </div>

                    <div class="instruction-card">
                        <div class="instruction-card-circle">
                            <div class="card-circle">
                                <div>
                                    <i class="flaticon-download"></i>
                                </div>
                            </div>
                        </div>

                        <div class="instruction-card-title">
                            <h2>Descargas</h2>
                            <p>Descarga e instala tu billetera virtual favorita.</p>
                        </div>

                        <div class="instruction-card-images">
                            <img src="../../../assets/metamask/metamask_1_1.png">
                            <img src="../../../assets/trust/trust_1_1.png">
                        </div>

                        <div class="instruction-card-number">
                            <div>
                                2
                            </div>
                        </div>

                    </div>

                    <div class="instruction-card">
                        <div class="instruction-card-circle">
                            <div class="card-circle">
                                <div>
                                    <i class="flaticon-security"></i>
                                </div>
                            </div>  
                        </div>

                        <div class="instruction-card-title">
                            <h2>Palabras claves</h2>
                            <p>Ordena tus palabras clave de respaldo y guardalas en un lugar seguro.</p>
                        </div>

                        <div class="instruction-card-images">
                            <img src="../../../assets/metamask/metamask_1_2.png">
                            <img src="../../../assets/trust/trust_1_2.png">
                        </div>

                        <div class="instruction-card-number">
                            <div>
                                3
                            </div>
                        </div>

                    </div>

                    <div class="instruction-card">
                        <div class="instruction-card-circle">
                            <div class="card-circle">
                                <div>
                                    <i class="flaticon-plus"></i>
                                </div>
                            </div>
                        </div>

                        <div class="instruction-card-title">
                            <h2>Crear billetera</h2>
                            <p>Crea tu billetera virtual y comienza a recibir Firu's.</p>
                        </div>

                        <div class="instruction-card-images">
                            <img src="../../../assets/metamask/metamask_1_3.png">
                            <img src="../../../assets/trust/trust_1_3.png">
                        </div>

                        <div class="instruction-card-number">
                            <div>
                                4
                            </div>
                        </div>

                    </div>
                </div>

                
            </mat-tab>
            <mat-tab label="2. Agregate a la red BSC">
                
                <div class="instructions-section">
                    <div class="instruction-card">

                        <div class="instruction-card-circle">
                            <div class="card-circle">
                                <div>
                                    <i class="flaticon-wallet"></i>
                                </div>
                            </div> 
                        </div>

                        <div class="instruction-card-title">
                            <h2>Billeteras</h2>
                            <p>Billeteras virtuales</p>
                        </div>

                        <div class="instruction-card-images">
                            <img src="../../../assets/metamask/metamask.png">
                        </div>

                        <div class="instruction-card-number">
                            <div>
                                1
                            </div>
                        </div>

                    </div>

                    <div class="instruction-card">
                        <div class="instruction-card-circle">
                            <div class="card-circle">
                                <div>
                                    <i class="flaticon-globo"></i>
                                </div>
                            </div>
                        </div>

                        <div class="instruction-card-title">
                            <h2>Agregar red</h2>
                            <p>Si estas en ordenador solo buscar la opción RPC, si estas en el celular entrar a "configuración < redes" para agregar la nueva red.</p>
                        </div>

                        <div class="instruction-card-images">
                            <img src="../../../assets/metamask/metamask_2_1.png">
                        </div>

                        <div class="instruction-card-number">
                            <div>
                                2
                            </div>
                        </div>

                    </div>

                    <div class="instruction-card">
                        <div class="instruction-card-circle">
                            <div class="card-circle">
                                <div>
                                    <i class="flaticon-forma-de-vineta"></i>
                                </div>
                            </div>  
                        </div>

                        <div class="instruction-card-title">
                            <h2>Completar información</h2>
                            <p>Debes completar la información que se solicita.</p>
                        </div>

                        <div class="instruction-card-images">
                            <img src="../../../assets/metamask/metamask_2_2.png">
                        </div>

                        <div class="instruction-card-number">
                            <div>
                                3
                            </div>
                        </div>

                    </div>

                    <div class="instruction-card">
                        <div class="instruction-card-circle">
                            <div class="card-circle">
                                <div>
                                    <i class="flaticon-check"></i>
                                </div>
                            </div>
                        </div>

                        <div class="instruction-card-title">
                            <h2>Red BSC cargada</h2>
                            <p>Listo ahora puedes agregar el contacto inteligente de Inticoin en el paso 3.</p>
                        </div>

                        <div class="instruction-card-images">
                            <img src="../../../assets/metamask/metamask_2_3.png">
                        </div>

                        <div class="instruction-card-number">
                            <div>
                                4
                            </div>
                        </div>

                    </div>
                </div>

            </mat-tab>
            <mat-tab label="3. Agrega el contrato inteligentez">
                
                <div class="instructions-section">
                    <div class="instruction-card">

                        <div class="instruction-card-circle">
                            <div class="card-circle">
                                <div>
                                    <i class="flaticon-wallet"></i>
                                </div>
                            </div> 
                        </div>

                        <div class="instruction-card-title">
                            <h2>Billeteras</h2>
                            <p>Billeteras virtuales</p>
                        </div>

                        <div class="instruction-card-images">
                            <img src="../../../assets/metamask/metamask.png">
                            <img src="../../../assets/trust/trust-wallet.png">
                        </div>

                        <div class="instruction-card-number">
                            <div>
                                1
                            </div>
                        </div>

                    </div>

                    <div class="instruction-card">
                        <div class="instruction-card-circle">
                            <div class="card-circle">
                                <div>
                                    <i class="flaticon-hacer-clic"></i>
                                </div>
                            </div>
                        </div>

                        <div class="instruction-card-title">
                            <h2>Abre tu billetera</h2>
                            <p>En Metamask muevete hasta abajo del todo y has click en Agregar Tokens. <br>
                                En Trust wallet, hacer click en el ícono superior derecho.</p>
                        </div>

                        <div class="instruction-card-images">
                            <img src="../../../assets/metamask/metamask_3_1.png">
                            <img src="../../../assets/trust/trust_3_1.png">
                        </div>

                        <div class="instruction-card-number">
                            <div>
                                2
                            </div>
                        </div>

                    </div>

                    <div class="instruction-card">
                        <div class="instruction-card-circle">
                            <div class="card-circle">
                                <div>
                                    <i class="flaticon-paper"></i>
                                </div>
                            </div>  
                        </div>

                        <div class="instruction-card-title">
                            <h2>Agregar contrato</h2>
                            <p>Copia la dirección del contrato de Firulaix y pegue en el campo llamado "Token Contract Address" del Metamask. <br>
                                En el Trust wallet solo pegar en el buscador.</p>
                        </div>

                        <div class="instruction-card-images">
                            <img src="../../../assets/metamask/metamask_3_2.png">
                            <img src="../../../assets/trust/trust_3_2.png">
                        </div>

                        <div class="instruction-card-number">
                            <div>
                                3
                            </div>
                        </div>

                    </div>

                    <div class="instruction-card">
                        <div class="instruction-card-circle">
                            <div class="card-circle">
                                <div>
                                    <i class="flaticon-plus"></i>
                                </div>
                            </div>
                        </div>

                        <div class="instruction-card-title">
                            <h2>Ver FIRU's</h2>
                            <p>En Metamask, has click en Add Tokens para acabar
                                En Trust Wallet, arrastrar el slide a la derecha y listo
                                ¡Eso es todo! Ahora ya puedes consultar el balance de tus tokens Firus's.</p>
                        </div>

                        <div class="instruction-card-images">
                            <img src="../../../assets/metamask/metamask_3_3.png">
                            <img src="../../../assets/trust/trust_3_3.png">
                        </div>

                        <div class="instruction-card-number">
                            <div>
                                4
                            </div>
                        </div>

                    </div>
                </div>

            </mat-tab>
        </mat-tab-group>


    </div>
</section>


<section id="home">
    <div class="section-content">
        <div class="column">
            <mat-card class="column-card">
                <div class="card-image">
                    <img src="../.././../assets/chart.png">
                </div>

                <div class="card-text">
                    <div class="card-text-ajust">   
                        <i class="fas fa-paint-brush" style="color: #fea400;"></i>
                        <p>50% Está destinado para la liquidez de los pares en Apeswap.</p>
                    </div>
                    <div class="card-text-ajust">   
                        <i class="fas fa-paint-brush" style="color: #febc25;"></i>
                        <p>40% Desarrollo del proyecto y gastos administrativos.</p>
                    </div>
                    <div class="card-text-ajust">   
                        <i class="fas fa-paint-brush" style="color: #fed370;"></i>
                        <p>10% Publicidad y marketing.</p>
                    </div>
                </div>
            </mat-card>
        </div>


        <div class="column">
            <div class="column-ajust">
                <h1>Capitalización</h1>
                <h2>Soft Cap - USD $250 000.00</h2>
                <p>La capitalización será dividida en porcentajes de la siguiente manera:</p>
                <mat-list style="margin-top: 2rem;">
                    <mat-list-item>50% fué Listado y se agregó liquidez en apeswap con 3 token en par con FIRU (BUSD-BNB-BANANA).</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>40% Desarrollo del proyecto y gastos administrativos.</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>10% Publicidad y Marketing.</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>0x3d7fae4e6860603c35e77b0b96e8998d5055d7bc - 36,000,000 FIRU</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>0x26ba543d6e01d6afb3e6b34b02c1d2a63c13282c - 24,000,000 FIRU</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>0x7c6ff5dba0209beb3d9ff02b7dbaf846fe12f4ee - 15,000,000 FIRU</mat-list-item>
                  </mat-list>
            </div>
        </div>   
    </div>

    <div class="section-content-cards" style="padding-top: 6rem">
        <div class="column-ajust">
            <h1>Roadmap</h1>
        </div>

        <div class="content-cards-ajust">
            <mat-card>
                <mat-card-title>Q3 Desarrollo de plataforma</mat-card-title>
                <mat-card-subtitle>Julio - Setiembre 2021</mat-card-subtitle>
                <mat-card-content>
                    <mat-list style="margin-top: 2rem;">
                        <mat-list-item>B Venta al público</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Imagen corporativa</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Publicidad y marketing</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Listar la token en plataforma DeFi</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Arquitectura de la plataforma</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Desarrollo de plataforma</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Educación del uso de la token FIRU</mat-list-item>
                      </mat-list>
                </mat-card-content>               
            </mat-card>

            <mat-card>
                <mat-card-title>Q4 Desarrollo de la blockchain FirulaixCoin</mat-card-title>
                <mat-card-subtitle>Octubre - Diciembre 2021</mat-card-subtitle>
                <mat-card-content>
                    <mat-list style="margin-top: 2rem;">
                        <mat-list-item>Desarrollo y pruebas de las NFT de registro animal.</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Desarrollo del aplicativo android</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Pruebas del uso de la token en tiendas y establecimientos de atención animal (veterinarias, Petshop’s,etc.)</mat-list-item>
                      </mat-list>
                </mat-card-content>               
            </mat-card>
            
            <mat-card>
                <mat-card-title>Q1 Comercialización de la cryptomeneda FirulaixCoin</mat-card-title>
                <mat-card-subtitle>Enero 2022</mat-card-subtitle>
                <mat-card-content>
                    <mat-list style="margin-top: 2rem;">
                        <mat-list-item>Distribuir la cryptomeneda en establecimientos.</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Listar en más plataformas DeFi.</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Fomentar la comercialización en departamentos como en LATAM.</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Registrar diferentes animales en cautiverio y silvestres (Ganados, peces, animales de zoológico).</mat-list-item>
                      </mat-list>
                </mat-card-content>               
            </mat-card>
        </div>
    </div>
</section>

<section id="home" style="background-color: #fff">
    <div class="white-section-content">
        <div class="white-section-title">
            <h1>FAQ</h1>
            <h2>Preguntas Frecuentes</h2>
        </div>
        <mat-tab-group mat-align-tabs="center" class="tab-group-faq">
            <mat-tab label="1. General">
                <div class="according-ajust">
                    <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                        ¿Como me crearon?
                        </mat-panel-title>

                      </mat-expansion-panel-header>
                      <p>Soy un contrato inteligente BEP20 en la blockchain de SmartChain, con estos detalles:<br>
                        Total supply = 330 000 000 FIRU's.<br>
                        Dígitos = 8<br>
                        Símbolo = FIRU</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                        ¿Para qué fui creado?
                        </mat-panel-title>

                      </mat-expansion-panel-header>
                      <p>Soy la primera versión del proyecto FIRULAIX, con el objetivo de generar una capitalización para poder identificar a todos mis amigos caninos y felinos que tengan hogar o esten en las calles. Cuando mis amigos estén identificados, podré compartir mis billeteras virtuales con todos ellos para que puedan tener sus propios fondos, administrados por sus dueños y así podrán ser atendidos en todos los establecimientos clínicos, tiendas y aeropuertos. Con esto generar un comercio dedicado a los ánimales.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                        ¿Cómo lograré mis objetivos?
                        </mat-panel-title>

                      </mat-expansion-panel-header>
                      <p>Con el capital recaudado crearemos nuestra propia blockchain para registrar los códigos de los chip´s que implantaremos a todos nuestros amigos, junto con los contratos inteligentes ERC721 conseguiremos un registro único. Está primera etapa, sera el inicio de identificación y trazabilidad de otros animales como ganados, peces, aves de granja, animales de zoológico, etc... El enfoque que tenemos es la autenticación de mis amigos caninos desde su nacimiento, haciendoles una trazabilidad de generación en generación, asegurando su raza pedigree de una manera segura y eficiente.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                        ¿Necesitas más detalles?
                        </mat-panel-title>

                      </mat-expansion-panel-header>
                      <p>La blockchain es una red super segura que nos ayudará a vincular el código de los chip´s hacia el registro principal en la blockchain y a la vez brindar a cada usuario animal una dirección que podrán usuarla para guardar mis token's FIRU's.
                        Los chip´s que vamos a implantar son del tamaño de un grano de arroz y pueden albergar datos de valor para su identificación, ubicación y verificación a quien les pertence, imaginence si eso lo guardamos de manera segura en mi propia red en BLOKCHAIN y adicional a todo esto, tendré mi propia cryptomoneda para que todos los veterinarios, clínicas y tiendas para animales puedan recibirlas, eso lo lograremos gracias a nuestros partners que son muy importante para nosotros y forman parte de una asociación donde hay más de 200 establecimintos, junto a municiplaidades distritales, centros de atención animal, amigos de los animales y otros....</p>
                    </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </mat-tab>
            <mat-tab label="2. Adquiere tus firu's">
                <div class="according-ajust">
                    <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                        ¿Como adquirir tus firu's?
                        </mat-panel-title>

                      </mat-expansion-panel-header>
                      <p>Seleccione el botón "Adquiere tus FIRU's".<br>
                        Elije la token que intercambiaras con los FIRU's en el cuadro de intercambio descentralizado. Elije el monto y el monto de FIRU´s se calculara de acuerdo al precio de mercado.<br>
                        Presione el botón "Approve" si lo haces por primera vez, sino el botón de "Swap" para realizar el intercambio.<br>
                        Si deseas hacerlo directamente de la plataforma Apeswap puedes hacer click aquí.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                        ¿Como adquirir Firu's si no tengo token's de Binance Smart Chain (BSC)?
                        </mat-panel-title>

                      </mat-expansion-panel-header>
                      <p>Puede escribir al email: firulaix@firulaixcoin.finance, y puedes adquirlos con LTC, BTC, DASH u otra criptomoneda a negociar.</p>
                    </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </mat-tab>
            <mat-tab label="3. Conclusiones">
                <div class="according-ajust">
                    <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                        Desarrollo del proyecto
                        </mat-panel-title>

                      </mat-expansion-panel-header>
                      <p>Un 40% de la capitalización de distribución de token´s FIRU, servirá para el desarrollo del proyecto e irá avanzando de acuerdo al capital recaudado.
                        El capital restante será para líquidez, farming, staking de acuerdo a la sugerencia de la plataforma a listar (Apeswap) y un 10% para marketing y publicidad.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                        Funcionalidad del proyecto
                        </mat-panel-title>

                      </mat-expansion-panel-header>
                      <p>El proyecto es ejecutado para cubrir un gran segmento del sector animal, que son los caso de: Registro civil por animal, fomentar y facilitar la adopción, trazabilidad pedigree, trazabilidad de alimentos para animales, ubicación de animales extraviados, etc.</p>
                    </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </mat-tab>
            <mat-tab label="4. En agenda">
                <div class="according-ajust">
                    <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                        No se pierdan la Firu descendencia
                        </mat-panel-title>

                      </mat-expansion-panel-header>
                      <p>Firulaix tendrá una descendencia de 20 cachorros pedigree con Firulina.<br>
                        Esta descendencia será dada en adopción a los FIRU Founder's y así daremos inicio a una raza mediante el código genético que serán mezclados por medio de sus contratos inteligentes ERC721 (NFT).</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                        Firu Game's
                        </mat-panel-title>

                      </mat-expansion-panel-header>
                      <p>El desarrollo de juegos que serán recompensados con FIRU's.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                        Firu Store
                        </mat-panel-title>

                      </mat-expansion-panel-header>
                      <p>Ansiosos de construir la tienda y abastecer a todos mis amigos.</p>
                    </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>

<section id="home" style="background-color: #f9f9f9">
    <div class="partners-content">
        <div>
            <h1>Nuestros Partners</h1>
        </div>
        <div class="partners-content-images">
            <div><img src="../.././../assets/partners/apolobit.png"></div>
            <div><img src="../.././../assets/partners/pet_id.png"></div>
            <div><img src="../.././../assets/partners/renian.png"></div>
            <div><img src="../.././../assets/partners/pet_travel.png"></div>
        </div>
    </div>
</section>


<section id="section-footer">
    <div class="content-footer">
        <div class="footer-information">
            <img src="../../../assets/logo.png" alt="">
            <p>Soy un contrato inteligente de la Binance Smart Chain (Bep 20) y Ayudaré a todos mis amigos a tener una identidad y trazabilidad de vida registrada en mi blockchain.</p>
            <div>
                <a href="https://www.facebook.com/firulaixfinance" target="_blank" style="padding-left: 0;">
                    <img src="../../../assets/fb-icon.png" alt="">
                </a>

                <a href="https://twitter.com/firulaixcoin" target="_blank">
                    <img src="../../../assets/twitter-icon.png" alt="">
                </a>

                <a href="https://www.instagram.com/firulaixcoin/" target="_blank">
                    <img src="../../../assets/inst-icon.png" alt="">
                </a>

                <a href="https://t.me/firulaixcoin" target="_blank">
                    <img src="../../../assets/telegram-icon.png" alt="">
                </a>

            </div>
        </div>

        <div class="footer-facebook">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffirulaixfinance%2F&tabs=timeline&width=500&height=280&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="500" height="280" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
    </div>
</section>

<section class="section-footer-copyrigth">
    <p>Firulaix | Todos los derechos reservados &copy;2021</p>
</section>