<section id="home" class="shapedividers_com-3425" style="background-color: #fff">
    <div class="banner-content">
        <div class="banner-column">
            <div class="banner-ajust">
                <h1>Firulaix Coin<br>tu mejor crypto amigo</h1>
                <p>Identificamos a todos los animales con y sin hogar con un chip que cuenta con un código único para registrarlo con tecnología blockchain.</p>    
            
                <div class="banner-buttons">
                    <button mat-stroked-button color="accent" class="button-main">Conoce más</button>
                    <button mat-stroked-button color="accent" class="button-main">Copiar enlace</button>
                </div>
            </div>
        </div> 

        <div class="banner-column banner-image">
            <img src="../.././../assets/image-banner.png" alt="">
        </div>
    </div>
</section>

<section id="home">
    <div class="buttons-card">
        <div class="content-buttons">
            <button mat-stroked-button color="accent" class="button">Comprar ahora en Apeswap</button>
            <button mat-stroked-button color="accent" class="button">Agregar liquidez en Apeswap</button>
            <button mat-stroked-button color="accent" class="button">Compruebe BSC scan</button>
            <button mat-stroked-button color="accent" class="button">Ver soportes LP</button>
        </div>

        <div class="content-graphics">
            <div class="graphic-item">
                <img src="../.././../assets/stats_2.png">
                <div>
                    <h1>1 M</h1>
                    <p>Chips ID</p>
                </div>
            </div>

            <div class="graphic-item">
                <img src="../.././../assets/stats_3.png">
                <div>
                    <h1>150 M</h1>
                    <p>Token Firu's</p>
                </div>
            </div>

            <div class="graphic-item">
                <img src="../.././../assets/stats_4.png">
                <div>
                    <h1>$500K</h1>
                    <p>Inversión total</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="home">
    <div class="section-content">
        <div class="column">
            <div>
                <img src="../.././../assets/firu.png">
            </div>
        </div>
    
        <div class="column">
            <div class="column-ajust">
                <h1>Mi objetivo</h1>
                <h2>Ayudaré a todos mis amigos a tener una identidad y trazabilidad de vida registrada en mi blockchain</h2>
                <p>Soy un proyecto desarrollado por tecnología BLOCKCHAIN, mis creadores programaron identificar a todos mis amigos caninos y felinos con hogar o sin hogar, ganados, peces, en cautiverio o silvestres con un chip que cuenta con un código único y será vinculado con todos los datos requeridos para registrarlo en mi blockchain adicionando un smart contract Erc-721, haciendolos únicos por la enternidad.</p>
            </div>
        </div>
    </div>

    <div class="section-content-cards">
        <div class="content-cards-ajust">
            <mat-card>
                <mat-card-title>Blockchain</mat-card-title>
                <mat-card-content>
                    <div>
                        Este proceso hará que todos mis amigos caninos puedan ser identificados y ubicados con sus dueños. Y en el caso de no tenerlos podemos buscarle uno.
                    </div>
                    <img src="../.././../assets/about_1.png">
                </mat-card-content>               
            </mat-card>

            <mat-card>
                <mat-card-title>Chip de identificación</mat-card-title>
                <mat-card-content>
                    <div>
                        Cada animal estará con el chip vinculado a un código en mi blockchain y una direccion(wallet) que les brindaremos a cada uno al momento de registrarlos.
                    </div>  
                    <img src="../.././../assets/about_2.png">
                </mat-card-content>               
            </mat-card>
            
            <mat-card>
                <mat-card-title>Código QR</mat-card-title>
                <mat-card-content>
                    <div>
                        Todos contarán con una dirección de mi blockchain y podrá recibir mis token’s por medio de un QR que estará en su collar y será administrado por su dueño o su futuro dueño.
                    </div>
                    <img src="../.././../assets/about_3.png">
                </mat-card-content>               
            </mat-card>
        </div>
    </div>
</section>


<section id="home">
    <div class="section-content">
        <div class="column">
            <div class="column-ajust">
                <h1>Adquiere tus Firus</h1>
                <h2>Calcula el monto de tus firus</h2>
                <p>Puedes adquirir tus firus en nuestro intercambio.</p>
                <div>
                    <button mat-stroked-button color="accent" class="button-main" style="color: #fff; background-color: rgba(255, 255, 255, 0.198);">Exchange</button>
                </div>
            </div>
        </div>

        <div class="column">
            <mat-card  class="column-card">
                <video autoplay loop muted>
                    <source src="../.././../assets/video/firu-video.mp4" type="video/mp4" />
                </video>
            </mat-card>
        </div>
        
    </div>
</section>


<section id="home" style="background-color: #fff">
    <div class="pasos-simples-content">
        <div>
            <p>Billetera Virtual</p>
            <h1>Pasos simples para comenzar</h1>
            <h2>Sigue estos sencillos pasos para descargar tu billetera virtual. Usando Firu's, podrás lograr ahorros significativos en fee´s, tiempo y te brindará seguridad de tu dinero.</h2>
        </div>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="1. Instala tu billetera">Content 1</mat-tab>
            <mat-tab label="2. Agregate a la red BSC">Content 2</mat-tab>
            <mat-tab label="3. Agrega el contrato inteligentez">Content 3</mat-tab>
        </mat-tab-group>
    </div>
</section>


<section id="home">
    <div class="section-content">
        <div class="column">
            <mat-card class="column-card">
                <div class="card-image">
                    <img src="../.././../assets/chart.png">
                </div>

                <div class="card-text">
                    <div class="card-text-ajust">   
                        <i class="fas fa-paint-brush" style="color: #fea400;"></i>
                        <p>50% Está destinado para la liquidez de los pares en Apeswap.</p>
                    </div>
                    <div class="card-text-ajust">   
                        <i class="fas fa-paint-brush" style="color: #febc25;"></i>
                        <p>40% Desarrollo del proyecto y gastos administrativos.</p>
                    </div>
                    <div class="card-text-ajust">   
                        <i class="fas fa-paint-brush" style="color: #fed370;"></i>
                        <p>10% Publicidad y marketing.</p>
                    </div>
                </div>
            </mat-card>
        </div>


        <div class="column">
            <div class="column-ajust">
                <h1>Capitalización</h1>
                <h2>Soft Cap - USD $250 000.00</h2>
                <p>La capitalización será dividida en porcentajes de la siguiente manera:</p>
                <mat-list style="margin-top: 2rem;">
                    <mat-list-item>50% fué Listado y se agregó liquidez en apeswap con 3 token en par con FIRU (BUSD-BNB-BANANA).</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>40% Desarrollo del proyecto y gastos administrativos.</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>10% Publicidad y Marketing.</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>0x3d7fae4e6860603c35e77b0b96e8998d5055d7bc - 36,000,000 FIRU</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>0x26ba543d6e01d6afb3e6b34b02c1d2a63c13282c - 24,000,000 FIRU</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>0x7c6ff5dba0209beb3d9ff02b7dbaf846fe12f4ee - 15,000,000 FIRU</mat-list-item>
                  </mat-list>
            </div>
        </div>   
    </div>

    <div class="section-content-cards" style="padding-top: 6rem">
        <div class="column-ajust">
            <h1>Roadmap</h1>
        </div>

        <div class="content-cards-ajust">
            <mat-card>
                <mat-card-title>Q3 Desarrollo de plataforma</mat-card-title>
                <mat-card-subtitle>Julio - Setiembre 2021</mat-card-subtitle>
                <mat-card-content>
                    <mat-list style="margin-top: 2rem;">
                        <mat-list-item>B Venta al público</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Imagen corporativa</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Publicidad y marketing</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Listar la token en plataforma DeFi</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Arquitectura de la plataforma</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Desarrollo de plataforma</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Educación del uso de la token FIRU</mat-list-item>
                      </mat-list>
                </mat-card-content>               
            </mat-card>

            <mat-card>
                <mat-card-title>Q4 Desarrollo de la blockchain FirulaixCoin</mat-card-title>
                <mat-card-subtitle>Octubre - Diciembre 2021</mat-card-subtitle>
                <mat-card-content>
                    <mat-list style="margin-top: 2rem;">
                        <mat-list-item>Desarrollo y pruebas de las NFT de registro animal.</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Desarrollo del aplicativo android</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Pruebas del uso de la token en tiendas y establecimientos de atención animal (veterinarias, Petshop’s,etc.)</mat-list-item>
                      </mat-list>
                </mat-card-content>               
            </mat-card>
            
            <mat-card>
                <mat-card-title>Q1 Comercialización de la cryptomeneda FirulaixCoin</mat-card-title>
                <mat-card-subtitle>Enero 2022</mat-card-subtitle>
                <mat-card-content>
                    <mat-list style="margin-top: 2rem;">
                        <mat-list-item>Distribuir la cryptomeneda en establecimientos.</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Listar en más plataformas DeFi.</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Fomentar la comercialización en departamentos como en LATAM.</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Registrar diferentes animales en cautiverio y silvestres (Ganados, peces, animales de zoológico).</mat-list-item>
                      </mat-list>
                </mat-card-content>               
            </mat-card>
        </div>
    </div>
</section>

<section id="home" style="background-color: #fff">
    <div class="pasos-simples-content">
        <div>
            <h1>FAQ</h1>
            <h2>Preguntas Frecuentes</h2>
        </div>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="1. General">Content 1</mat-tab>
            <mat-tab label="2. Adquiere tus firu's">Content 2</mat-tab>
            <mat-tab label="3. Conclusiones">Content 3</mat-tab>
            <mat-tab label="4. En agenda">Content 4</mat-tab>
        </mat-tab-group>
    </div>
</section>

<section id="home" style="background-color: #f9f9f9">
    <div class="pasos-simples-content">
        <div>
            <h1>Nuestros Partners</h1>
        </div>
        <div>
            <div><img src="../.././../assets/partners/apolobit.png"></div>
            <div><img src="../.././../assets/partners/pet_id.png"></div>
            <div><img src="../.././../assets/partners/renian.png"></div>
            <div><img src="../.././../assets/partners/pet_travel.png"></div>
        </div>
    </div>
</section>


<section id="section-footer">
    <div class="content-footer">
        <div class="footer-information">
            <img src="../../../assets/logo.png" alt="">
            <p>Soy un contrato inteligente de la Binance Smart Chain (Bep 20) y Ayudaré a todos mis amigos a tener una identidad y trazabilidad de vida registrada en mi blockchain.</p>
            <div>
                <a href="https://www.facebook.com/firulaixfinance" target="_blank" style="padding-left: 0;">
                    <img src="../../../assets/fb-icon.png" alt="">
                </a>

                <a href="https://twitter.com/firulaixcoin" target="_blank">
                    <img src="../../../assets/twitter-icon.png" alt="">
                </a>

                <a href="https://www.instagram.com/firulaixcoin/" target="_blank">
                    <img src="../../../assets/inst-icon.png" alt="">
                </a>

                <a href="https://t.me/firulaixcoin" target="_blank">
                    <img src="../../../assets/telegram-icon.png" alt="">
                </a>

            </div>
        </div>

        <div class="footer-facebook">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffirulaixfinance%2F&tabs=timeline&width=500&height=280&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="500" height="280" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
    </div>
</section>

<section class="section-footer-copyrigth">
    <p>Firulaix | Todos los derechos reservados &copy;2021</p>
</section>