
.button-section{
  width: 38px;
  margin-bottom: 1rem;
  height: calc(20% - 1rem);
  outline: none;
  border: none;
  text-transform: uppercase;
  background-color: #fcc74d;
  border-right: 0;
  border-radius: 10px 0 0 10px;
  -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.15); 
  box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.15);
}

.button-section p{
  width: 9.5px;
  word-wrap: break-word;
  text-align:center;
  line-height: 14px;
  margin: 0 auto;
  font-size: 12px;
  /* font-weight: bold; */
  color: #fff;
  font-family: 'Russo One', sans-serif;
}

#home {
  width: 100%;
}

.fls{
  width: 100%;
}

#background-section {
  width: 100%;
  background-image: url(../../../assets/banner/firulaix-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner-content {
  display: flex;
  width: 85%;
  max-width: 2800px;
  margin: 0 auto;
  padding: 1rem 0 5rem 0;
  /* border: solid 1px green; */
}

.banner-column {
  width: 50%;
  margin: 0 auto;
  /* border: 1px red solid; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}

.banner-text-ajust {
  /* width: 70%; */
  /* border: solid 1px red; */
}

.banner-text-ajust h1 {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 75px;
  margin-bottom: 2rem;
  /* text-transform: uppercase; */
  color: #3575b1;
}

.banner-text-ajust span{
  font-size: 55px;
  text-transform: uppercase;
  color: #24588b;
  font-weight: bold;
}

.banner-text-ajust p {
  color: #fff;
  font-size: 20px;
  line-height: 40px;
}

.banner-buttons{
  /* border: 1px solid black; */
  display: flex;
}

.button-main {
  text-transform: uppercase;
  padding: 0.8rem 3rem;
  margin: 2rem 2rem 0 0;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  background-color: #fcc74d;
  border-radius: 10rem;
  border: none;
  -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.15); 
  box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.15);
  transition: .5s;
}

.button-main:hover{
  background-color: #fff;
  color: #fcc74d;
}




.banner-image-content{
  /* border: 1px green solid; */
  position: relative;
  width: 45rem;
  height: 45rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-dog-main {
  position: absolute;
  width: 90%;
  height: auto;
}


.alert-text span{
  color: #ffa500;
  font-weight: bold;
}







.albergue{
  width: 6rem;
  position: absolute;
  left: 66%;
  top: 42%;
  -webkit-animation: albergue 6s ease-in-out infinite;
	-moz-animation: albergue 6s ease-in-out infinite;
	animation: albergue 4s ease-in-out infinite;
}


.huella{
  width: 4.5rem;
  position: absolute;
  left: 78%;
  top: 60%;
  -webkit-animation: huella 6s ease-in-out infinite;
	-moz-animation: huella 6s ease-in-out infinite;
	animation: huella 4s ease-in-out infinite;
}



.firu-chip{
  width: 5.5rem;
  position: absolute;
  left: 6%;
  top: 47%;
	-webkit-animation: firu-chip 6s ease-in-out infinite;
	-moz-animation: firu-chip 6s ease-in-out infinite;
	animation: firu-chip 6s ease-in-out infinite;
}


.dog-card-1{
  width: 5rem;
  position: absolute;
  border-radius: .7rem;
  left: 14%;
  top: 23%;
	-webkit-animation: dog-1 6s ease-in-out infinite;
	-moz-animation: dog-1 6s ease-in-out infinite;
	animation: dog-1 6s ease-in-out infinite;
}


.dog-card-2{
  width: 5rem;
  position: absolute;
  border-radius: .7rem;
  left: 75%;
  top: 80%;
  -webkit-animation: dog-2 4s ease-in-out infinite;
	-moz-animation: dog-2 4s ease-in-out infinite;
	animation: dog-2 5s ease-in-out infinite;
}


.dog-card-3{
  width: 5rem;
  position: absolute;
  border-radius: .7rem;
  left: 13%;
  top: 73%;
  -webkit-animation: dog-3 4s ease-in-out infinite;
	-moz-animation: dog-3 4s ease-in-out infinite;
	animation: dog-3 5s ease-in-out infinite;
}


.dog-card-4{
  width: 5rem;
  position: absolute;
  border-radius: .7rem;
  left: 79%;
  top: 31%;
  -webkit-animation: dog-3 4s ease-in-out infinite;
	-moz-animation: dog-3 4s ease-in-out infinite;
	animation: dog-3 6s ease-in-out infinite;
}


.hueso{
  width: 4.5rem;
  position: absolute;
  left: 68%;
  top: 16%;
  -webkit-animation: hueso 1s linear infinite;
  -moz-animation: hueso 1s linear infinite;
  animation: hueso 4s linear infinite;
}

.wallet{
  width: 8rem;
  position: absolute;
  left: 37%;
  top: 83%;
	-webkit-animation: wallet 4s ease-in-out infinite;
	-moz-animation: wallet 4s ease-in-out infinite;
	animation: wallet 4s ease-in-out infinite;
}



@-webkit-keyframes albergue {
	0% {transform: scale(1.2);}
	50% {transform: scale(1);}
	100% {transform: scale(1.2);}
}
@-moz-keyframes albergue {
	0% {transform: scale(1.2);}
	50% {transform: scale(1);}
	100% {transform: scale(1.2);}
}
@keyframes albergue {
	0% {transform: scale(1.2);}
	50% {transform: scale(1);}
	100% {transform: scale(1.2);}
}




@-webkit-keyframes huella {
	0% {transform: rotate(-30deg);}
	100% {transform: rotate(-30deg);}
}
@-moz-keyframes huella {
	0% {transform: rotate(-30deg);}
	50% {transform: rotate(30deg);}
	100% {transform: rotate(-30deg);}
}
@keyframes huella {
	0% {transform: rotate(-30deg);}
	50% {transform: rotate(30deg);}
	100% {transform: rotate(-30deg);}
}



@-webkit-keyframes firu-chip {
	0% {transform: rotate(-30deg);}
	50% {transform: rotate(30deg);}
	100% {transform: rotate(-30deg);}
}
@-moz-keyframes firu-chip {
	0% {transform: rotate(-30deg);}
	50% {transform: rotate(30deg);}
	100% {transform: rotate(-30deg);}
}
@keyframes firu-chip {
	0% {transform: rotate(-30deg);}
	50% {transform: rotate(30deg);}
	100% {transform: rotate(-30deg);}
}



@-webkit-keyframes dog-1 {
	0% {transform: translateX(0px);}
	50% {transform: translateX(-20px);}
}
@-moz-keyframes dog-1 {
	0% {transform: translateX(0px);}
	50% {transform: translateX(-20px);}
}
@keyframes dog-1 {
	0% {transform: translateX(0px);}
	50% {transform: translateX(-20px);}
}


@-webkit-keyframes dog-2 {
	0% {transform: translateX(0px);}
	50% {transform: translateX(-20px);}
}
@-moz-keyframes dog-2 {
	0% {transform: translateX(0px);}
	50% {transform: translateX(-20px);}
}
@keyframes dog-2 {
	0% {transform: translateX(0px);}
	50% {transform: translateX(-20px);}
}


@-webkit-keyframes dog-3 {
	0% {transform: translatey(0px);}
	50% {transform: translatey(-20px);}
}
@-moz-keyframes dog-3 {
	0% {transform: translatey(0px);}
	50% {transform: translatey(-20px);}
}
@keyframes dog-3 {
	0% {transform: translatey(0px);}
	50% {transform: translatey(-20px);}
}



@-webkit-keyframes hueso {
	100% {transform: rotate(360deg);}
}
@-moz-keyframes hueso {
	100% {transform: rotate(360deg);}
}
@keyframes hueso {
	100% {transform: rotate(360deg);}
}




@-webkit-keyframes wallet {
	0% {transform: translateX(0px);}
	50% {transform: translateX(-20px);}
}
@-moz-keyframes wallet {
	0% {transform: translateX(0px);}
	50% {transform: translateX(-20px);}
}
@keyframes wallet {
	0% {transform: translateX(0px);}
	50% {transform: translateX(-20px);}
}




/* Shape-divider */
.shapedividers_com-6105{
  overflow:hidden;
  position:relative;
  }
  .shapedividers_com-6105::before{ 
  content:'';
  font-family:'shape divider from ShapeDividers.com';
  position: absolute;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw; 
  transform:scaleX(1.8);
  transform-origin: 100% 100%;
  animation: 33s infinite alternate shape-anim-6105  linear;
  background-size: 100% 196px;
  background-position: 50% 100%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.67c-3.07-.55-9.27.41-16.15 0-6.87-.4-13.74-.58-19.13.1v.4h35.28z" fill="%23fcc74d"/><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" opacity=".5" fill="%23fcc74d"/><path d="M35.28.31c-2.57.84-7.68.3-11.8.43-4.1.12-6.85.61-9.57.28C11.18.69 8.3-.16 5.3.02 2.3.22.57.85 0 .87v1.2h35.28z" opacity=".5" fill="%23fcc74d"/></svg>'); 
  }
  
  @media (min-width:2100px){
  .shapedividers_com-6105::before{
  background-size: 100% calc(2vw + 196px);
  }
  }
  
  @keyframes shape-anim-6105 {
    100% {
      transform: scaleX(1.8) translateX(calc(100% - (100% / 1.8)));
    }
  }

     







/* CARD-BUTTONS-SECTION*/
/* Shape-divider */
.shapedividers_com-5660{
  overflow:hidden;
  position:relative;
  }
  .shapedividers_com-5660::before{ 
  content:'';
  font-family:'shape divider from ShapeDividers.com';
  position: absolute;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw; 
  transform:scaleX(1.8);
  transform-origin: 100% 0;
  animation: 33s infinite alternate shape-anim-5660  linear;
  background-size: 100% 150px;
  background-position: 50% 0%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23fcc74d"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23fcc74d"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23fcc74d"/></svg>'); 
  }
  
  @media (min-width:2100px){
  .shapedividers_com-5660::before{
  background-size: 100% calc(2vw + 6px);
  }
  }
  
  @keyframes shape-anim-5660 {
    100% {
      transform: scaleX(1.8) translateX(calc(100% - (100% / 1.8)));
    }
  }
  
     
  
#buttons-card-section{
  width: 100%;
  background: rgb(255,165,0);
  background: linear-gradient(0deg, rgba(255,165,0,1) 0%, rgba(255,165,0,1) 35%, rgba(252,199,77,1) 100%); 
  padding: 4rem 0;
}     
  
.buttons-card {
  background-color: #fff;
  border-radius: 4rem;
  width: 80%;
  max-width: 2500px;
  margin: 0 auto;
  padding: 2rem 0;
  color: rgba(0, 0, 0, 0.596);
}

.content-buttons {
  display: flex;
  /* justify-content: space-evenly; */
  padding: 3rem 1rem;
}
.content-buttons div {
  width: 100%;
  margin: 0 .5rem;
}
.content-buttons button{
  width: 100%;
}

.button {
  /* width: 100%; */
  text-transform: uppercase;
  padding: 0.4rem .5rem;
  color: #fff;
  border-radius: 10rem;
  background-color: #fcc74d;
  border: none;
  -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.15); 
  box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.15);
  transition: .5s;
}

.button:hover{
  background-color: #fff;
  color: #fcc74d;
}

.content-graphics {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.graphic-item {
  display: flex;
  align-items: center;
  /* border: 1px solid blue; */
}

.graphic-item img {
  width: 8rem;
  margin-right: 1.5rem;
}

.graphic-item h1 {
  color: #ff0000;
  font-size: 40px;
  font-weight: bolder;
}

.main-section-content {
  display: flex;
  margin: 0 auto;
  /* border: solid 1px green; */
  width: 85%;
  max-width: 2800px;
}

.column {
  width: 50%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-text{
  width: 80%;
  /* border: 1px solid blue; */
}

.column-text h1 {
  font-size: 45px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 2rem;
  line-height: 48px;
}

.column-text h2 {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  line-height: 35px;
  margin: 1rem 0 2rem 0;
}

.column-text p {
  font-size: 18px;
  /* font-weight: bold; */
  color: #fff;
  line-height: 35px;
}


.column-text mat-list-item {
  font-weight: bold;
  color:#fff;
  line-height: 30px;
  margin: .5rem 0;
}


.column mat-card{
  border-radius: 30px;
  width: 80%;
  max-width: 40rem;
}


.mi-objetivo-image{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mi-objetivo-image img{
  width: 100%;
}


#adquiere-section{
  width: 100%;
  background-image: url(../../../assets/background_image_2.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 5rem 0;
  margin-top: 0;
}

#mi-objetivo-section{
  width: 100%;
  padding: 5rem 0;
}



#capitalizacion-section{
  width: 100%;
  background-image: url(../../../assets/background_image_1.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 5rem 0;
}


.section-content-cards {
  /* background-color: #fcc74d; */
  /* border: 1px solid black; */
  width: 80%;
  max-width: 2500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 15rem 0;
}

.section-content-cards mat-card {
  width: 30%;
  /* margin: 0 auto; */
  padding: 2rem;
  border-radius: 3rem;
}

.section-content-cards mat-card-title {
  margin-bottom: 2rem;
  color: #24588b;
  letter-spacing: 1px;
  line-height: 25px;
  text-transform: uppercase;
}

.section-content-cards mat-card-content {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  line-height: 30px;
  text-align: justify;
  color: #3575b1;
}

.section-content-cards img{
  width: 9rem;
  margin-right: 1.2rem;
}

.column video {
  width: 25rem;
  height: 40rem;
}



#pasos-simples-section{
  width: 100%;
  background-color: #fff;
}

#faq-section{
  width: 100%;
  background-color: #fff;
}




.document-section-content{
  padding: 8rem 0 5rem 0;
  margin: 0 auto;
  /* border: 1px solid black; */
  width: 85%;
  max-width: 2800px;
}

.document-section-title{
  text-align: center;
  padding: 0 10rem;
}

.document-section-title p{
  color: #ffa500;
  font-size: 18px;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}

.document-section-title h1{
  font-size: 45px;
  letter-spacing: 3px;
  margin-bottom: 6rem;
  line-height: 50px;
}

.document-section-title h2{
  margin-bottom: 7rem;
  color: rgba(0, 0, 0, 0.794);
  font-weight: lighter;
}

.mat-tab-group {
  margin-bottom: 80px;
}

.instructions-section{
  display: flex;
  /* justify-content: center; */
  width: 100%;
  margin: 5rem auto 0 auto;
  /* border: 1px solid red; */
}

.instruction-collection{
  /* border: 1px solid yellow; */
  display: flex;
  width: 50%;
}


.instruction-card{
  width: 100%;
  /* border: 1px solid blue; */
}


.card-circle{
  width: 6.7rem;
  height: 6.7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px dashed transparent;
  margin: 0 auto;
  transition: .5s;
}

.card-circle div{
  width: 5.5rem;
  height: 5.5rem;
  /* background-color: blue; */
  background-color: #f2f2f2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}


.card-circle i{
  font-size: 30px;
  transition: .5s;
}

.instruction-card-title{
  text-align: center;
  margin: 1.5rem auto;
  padding: 0 1rem;
  height: 9.5rem;
  /* border: 1px solid black; */
}

.instruction-card-title h2{
  text-transform: uppercase;
  transition: .5s;
  line-height: 25px;
}

.instruction-card-title p{
  font-size: 15px;
}

.instruction-card-title span{
  color: #FF5E00;
  cursor: pointer;
}



.instruction-card-images{
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.instruction-card-images img{
  max-width: 60%;
}

.instruction-card-number div{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: black;
  color: #fff;
  margin: 1rem auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}



.instruction-card:hover .card-circle{
  border-color: #ffa500;
}


.instruction-card:hover .card-circle div{
  background-color: #ffa500;
}


.instruction-card:hover .card-circle i{
  color: #fff;
}


.instruction-card:hover .instruction-card-title h2{
  color: #ffa500;
}


.instruction-card:hover .instruction-card-number div{
  background-color: #ffa500;
}


.card-image{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.card-image img{
    width: 55%;
}

.card-text-ajust{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.fa-paint-brush {
  font-size: 35px;
  margin-right: 1rem;
}

.card-text p{
    font-size: 17px;
    color: #000;
    font-weight: normal;
    line-height: 30px;
}


#roadmap-section{
  width: 100%;
  padding: 6rem 0;
}


.roadmap-content{
  width: 100%;
  max-width: 2800px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.roadmap-title{
  width: 85%;
  margin: 0 auto;
}

.roadmap-title h1{
  font-size: 45px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.roadmap-image-container{
  width: 100%;
}

.roadmap-graphic{
  width: 100%;
  margin: 0 auto;
  position: relative;
  /* border: 1px solid black; */
}

.pista{
  width: 100%;
  height: auto;
}


.roadmap-text-q{
  width: 22rem;
  position: absolute;
  background-color: #cea151;
  border: 3.3px solid #6e3f2d;
  border-radius: 20px;
  padding: 1rem;
  color: #fff;
}

.roadmap-text-q span{
  color: #fcc74d;
  font-weight: bold;
  font-size: 16px;
}

.roadmap-text-q hr{
  margin: .5rem 0 .8rem 0;
}

.roadmap-text-q p{
  margin: .5rem;
}

.q-3{
  top: 48%;
  left: 1%;
}

.q-4{
  top: 73%;
  left: 38%;
}

.q-1{
  top: 48%;
  left: 79%;
}




.tab-group-faq{
  /* width: 80%; */
  margin: 0 auto;
  /* border: 1px solid green; */
}

.according-ajust{
  margin-top: 5rem;
  /* border: 1px solid red; */
}

mat-panel-title{
  font-size: 18px;
}

.according-ajust p{
  font-size: 16px;
  margin: 1rem 0;
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel-header.mat-expanded:focus {
    background-color: #ffa60028;
}


.mat-expansion-panel-header p.mat-expanded,
.mat-expansion-panel-header p.mat-expanded:hover,
.mat-expansion-panel-header p.mat-expanded:focus {
    color: #ffa500;
}


#partners-section{
  width: 100%;
  background-color: #f9f9f9;
}


.partners-content{
  width: 85%;
  max-width: 2800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
  /* border: 1px solid red; */
}

.partners-content h1{
  text-align: center;
  font-size: 25px;
  margin-bottom: 3rem;
}

.partners-content-images{
  display: flex;
  justify-content: center;
  /* border: 1px solid blue; */
}


.partners-content-images div{
  display: flex;
  justify-content: center;
  /* border: 1px solid green; */
}


.partners-content-images img{
  width: 70%;
}