<section id="footer-section">
    <div class="footer-content">
        <div class="footer-information">
            <img src="../../../assets/images/logo.png">
            <div>
                <p>{{"Soy un contrato inteligente de la Binance Smart Chain (Bep 20) y Ayudaré a todos mis amigos a tener una identidad y trazabilidad de vida registrada en mi blockchain." | translate}}</p>

                <div class="information-contact">
                    <div>
                        <i class="fas fa-phone-alt"></i>
                        <p>(+51)503-7369</p>
                    </div>
                    <div>
                        <i class="fas fa-map-marker-alt"></i>
                        <p>Av. Mariátegui 1030 - Jesús María</p>
                    </div>
                </div>
            </div>


            <div class="information-social">
                <div>
                    <a href="https://www.facebook.com/firulaixfinance" target="_blank" style="padding-left: 0;">
                        <img src="../../../assets/images/redes-sociales/fb-icon.png">
                    </a>
    
                    <a href="https://twitter.com/firulaixcoin" target="_blank">
                        <img src="../../../assets/images/redes-sociales/twitter-icon.png">
                    </a>
    
                    <a href="https://www.instagram.com/firulaixcoin/" target="_blank">
                        <img src="../../../assets/images/redes-sociales/inst-icon.png">
                    </a>
                </div>
                <div>
                    <a href="https://t.me/firulaixcoin" target="_blank">
                        <img src="../../../assets/images/redes-sociales/telegram-icon.png">
                    </a>
    
                    <a href="https://discord.gg/TEDUHknZuE" target="_blank">
                        <img src="../../../assets/images/redes-sociales/discord-icon.png">
                    </a>
    
                    <a href="https://www.youtube.com/channel/UCrOJRzI105YKDHa9zwABAqQ" target="_blank">
                        <img src="../../../assets/images/redes-sociales/youtube-icon.png">
                    </a>
                </div>  

            </div>
        </div>

        <div class="footer-facebook">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffirulaixfinance%2F&tabs=timeline&width=500&height=280&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="500" height="280" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
    </div>
</section>

<section class="footer-section-copyrigth">
    <p>Firulaix | {{"Todos los derechos reservados" | translate}} &copy;2021</p>
</section>