<div class="contenido-main-white">
    <div class="main-text" style="margin-bottom: 3rem;">
        <h1>Master Firu</h1>
    </div>
    <div class="form-column master-calc">
        <div class="form-calc-graphic">
            <mat-card id="calculator" class="card-design">
              <mat-card-header>
                <mat-card-title>
                  <p>{{"Calculadora firulaix" | translate}}</p>
                </mat-card-title>
                <mat-card-subtitle>
                  <p>{{"Equivalencia en firu's" | translate}}</p>
                </mat-card-subtitle>
              </mat-card-header>
              <hr />
              <div class="calc-graphic-info_content">
                <div class="calc-graphic-info">
                    <div class="graphic-info-coin" style="width: 100%;">
                        <div>
                            <p>BUSD per FIRU: <span>{{valorActualImp}}</span></p> 
                        </div>
                    </div>
                </div>

                <div class="calc-graphic-info calc-coin">
                    <div class="graphic-info-coin">
                      <form (submit)="uploadCoin(compra, venta)">
                        <div>
                            <!-- <p>Compra: <span #compra>{{compraImp}}</span></p>  -->
                            <p>Compra: </p><input #compra />{{compraImp}} 
                        </div>
                        <div>
                          <!-- <p>Venta: <span #venta>{{ventaImp}}</span></p>  -->
                          <p>Venta: </p> <input #venta />{{ventaImp}}
                        </div>
                      </form>
                    </div>
                    <div>
                        <button type="button" class="yellow-border-button coin-send-button">Enviar</button>
                    </div>
                </div>
              </div>
              <mat-card-content>
                <form
                [formGroup]="convertorForm"
                (submit)="submit()"
              >
                  <div class="calc-graphic-camp">
                    <p>{{"De:" | translate}}</p>
                    <div class="camp-from">
                        <div class="yellow-border-button select-style">
                          <mat-select formControlName="tipoMoneda">
                            <mat-option value="soles">S/ Soles</mat-option>
                            <mat-option value="dolares">$ {{"Dolares" | translate}}</mat-option>
                          </mat-select>
                        </div>
        
                          <mat-form-field>
                            <input
                              type="number"
                              onkeydown="return event.keyCode !== 69"
                              matInput
                              formControlName="valorIngresado"
                              autocomplete="off"
                            />
                          </mat-form-field>
        
                      </div>
                  </div>
        
                  <div class="calc-graphic-camp">
                      <p>{{"Para:" | translate}}</p>
                      <mat-form-field>
                        <input
                          type="number"
                          matInput
                          formControlName="resultado"
                        />
                      </mat-form-field>
                  </div>

                  <div>

                  </div>
                </form>
              </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
