<div id="main-content">
  <mat-toolbar style="background-color: #ffa600">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <!-- <mat-icon>menu</mat-icon> -->
    </button>
    <span>
      <a href="https://firulaixcoin.finance/">
        <img src="./../assets/logo.png" alt="" style="width: 150px" />
      </a>
    </span>
    <!-- <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar>

  <div class="banner-firulaix">
    <img src="../assets/firu-banner.jpg" alt="" />
  </div>

  <div class="main-section-colaboracion">
    <div style="max-width: 2000px; margin: 0 auto;">
      <h1>Colabora con nuestro proyecto</h1>
      <div class="colaboracion-content">
        <div class="colaboracion-column">
          <p>
            Puedes colaborar con nuestro proyecto haciendo un depósito a nuestras
            siguientes cuentas del banco:
          </p>
  
          <div class="acounts">
            <p>BBVA:</p>
            <hr />
            <p>CCI:</p>
            <hr />
            <p>SWIFT:</p>
            <hr />
          </div>
  
          <div class="content-calculator">
            <div class="calculator">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>
                    <p>Calculadora Firulaix</p>
                  </mat-card-title>
                  <mat-card-subtitle>
                    <p>Dog Breed</p>
                  </mat-card-subtitle>
                </mat-card-header>
                <hr />
                <mat-card-content>
                  <form
                    class="example-form"
                    [formGroup]="convertorForm"
                    (submit)="submit()"
                  >
                    <div class="camp">
                      <div class="camp-ajust">
                        <p>From:</p>
                        <div class="camp-from">
                          <div style="width: 100%">
                            <mat-form-field>
                              <input
                                type="number"
                                matInput
                                formControlName="valorIngresado"
                                autocomplete="off"
                              />
                            </mat-form-field>
                          </div>
  
                          <div class="select-style">
                            <mat-select formControlName="tipoMoneda">
                              <mat-option value="soles">S/ Soles</mat-option>
                              <mat-option value="dolares">$ Dolares</mat-option>
                            </mat-select>
                          </div>
                        </div>
                      </div>
                    </div>
  
                    <div class="camp">
                      <div class="camp-ajust">
                        <p>To:</p>
                        <mat-form-field>
                          <input
                            type="number"
                            matInput
                            formControlName="resultado"
                          />
                        </mat-form-field>
                      </div>
                    </div>
                  </form>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
  
        <div class="colaboracion-column">


          <form #userInformation="ngForm">
            <div style="display: flex; justify-content: space-between">
              <p>1. Usted recibirá su obsequio en esta dirección:</p>
  
              <button data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            ><i class="fas fa-info-circle"></i></button>
  
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="exampleModalLabel">
                        Si aun no tiene una billetera virtual puede ver nuestro tutorial:
                      </h4>
                      
                      <button
                        type="button"
                        class=""
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      >X</button>
                    </div>
                    <div class="modal-body">
                      <iframe src="https://www.youtube.com/embed/H5x7NVYWjFY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" style="width: 100%; height: 350px;" allowfullscreen></iframe>
                    </div>
  
                  </div>
                </div>
              </div>
            </div>
  
            <div class="camp-form camp-token">
  
                <div class="button button-login" id="metamask_login" style="width: 8rem; display: flex; align-items: center; justify-content: center;">
                  <i class="fas fa-chevron-left"></i>
                  Conéctate
                </div>

                <p id="token">Ingrese para generar su token:</p>

              </div>
  
            <div>
              <p style="margin-top: 4rem">
                2. Si realizaste un depósito adjunta una captura aquí:
              </p>
            </div>
  
            <div class="camp-form">


              <!-- <span id="btnUpload" class="input-group-text upload" (click)="onUpload()">
                Subir
              </span> -->

              
              <div class="input-group mb-3">
                <input type="file" accept="image/*" (change)="handleInputChange($event)" (change)="onFileChange($event)" class="form-control" id="inputGroupFile02" name="imageUrl" [formControl]="captureFormControl"/>

                <mat-error *ngIf="captureFormControl.hasError('required')">
                  Debe ingresar una imagen
                </mat-error>
                <!-- <label class="input-group-text" for="inputGroupFile02"
                  >Upload</label
                > -->
                <p style="text-align: center; width: 100%; margin: 3rem 0;">Previsualización de su voucher:</p>
                  <div class="capture-content" style="margin: 0 auto;">
                    <img [src]="imageSrc" style="max-width:300px; max-height:350px; margin: 0 auto"/>
                  </div>
              </div>
            </div>
  
            <div>
              <p style="margin-top: 4rem">3. Envíenos su email:</p>
            </div>
  
            <div class="camp-form" style="flex-direction: column">
              <div style="margin-top: 2rem; display: flex; flex-direction: column;">
                
                <!-- <input
                  type="text"
                  autocomplete="off"
                  name="token"
                  ngModel
                  id="imp_token"
                  required/> -->


                  <mat-form-field>
                    <input autocomplete="off" matInput placeholder="Email" [formControl]="emailFormControl"/>
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      Ingrese un correo valido
                    </mat-error>
  
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      Debe ingresar su correo
                    </mat-error>
                  </mat-form-field>
                                 

                <mat-form-field>
                  <input autocomplete="off" matInput placeholder="Token" [formControl]="nameFormControl"/>
                  <mat-error *ngIf="nameFormControl.hasError('minlength')">
                    Valor minimo de 42 caracteres (puede copiarlo de la sección 1.)
                  </mat-error>

                  <mat-error *ngIf="nameFormControl.hasError('required')">
                    Debe ingresar su token
                  </mat-error>
                </mat-form-field>

              </div>
  
              <div class="content-button-email">
                <button type="submit" class="button button-email" style="background-color: none;" [disabled]="emailFormControl.invalid || nameFormControl.invalid || captureFormControl.invalid" (click)="onUpload()">Enviar</button>
              </div>


            </div>
          </form>

        </div>
      </div>    
    </div>
  </div>

  <!-- QR -->
  <div class="btc_newsletter_wrapper" id="donaciones">
    <div>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <div class="container-text">
              <div class="btc_newsletter_text">
                <h4>Puedes colaborar con nuestro proyecto depositando en:</h4>
              </div>
              <h5>Dirección de recepción:</h5>
              <span>0xCe0e30CbCbEBbC05D3fE7f7a4ADEbb21041bB1d2</span>
              <br />

              <h5>Token aceptado:</h5>
              <span>cualquier BEP20 (BSC)</span>
              <br />

              <h5>Token preferido:</h5>
              <span>FIRU</span>
            </div>
          </div>

          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div class="container-qr">
              <img src="../assets/firu-qr.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <div class="footer">
    <div class="container">
      <div class="row justify-content-between align-items-center pt-5 pb-5">
        <div class="col-md-4">
          <a href="index.html"
            ><img src="../assets/logo.png" alt="" class="footer_logo"
          /></a>
          <div class="text-light mb-3">
            Soy un contrato inteligente de la Binance Smart Chain (Bep 20) y
            Ayudaré a todos mis amigos a tener una identidad y trazabilidad de
            vida registrada en mi blockchain.
          </div>
          <div class="redes-sociales">
            <a href="https://www.facebook.com/firulaixfinance" target="_blank"
              ><img src="../assets/fb-icon.png" alt="Facebook"
            /></a>
            <a href="https://twitter.com/firulaixcoin" target="_blank"
              ><img src="../assets/twitter-icon.png" alt="Twitter"
            /></a>
            <a href="https://www.instagram.com/firulaixcoin/" target="_blank"
              ><img src="../assets/inst-icon.png" alt="Instagram"
            /></a>
            <a href="https://t.me/firulaixcoin" target="_blank"
              ><img src="../assets/telegram-icon.png" alt="Telegram"
            /></a>
            <a href="#"><img src="../assets/sms-icon.png" alt="Email" /></a>
          </div>
        </div>

        <!-- <div class="col-md-5">
                <div class="fb-page" data-href="https://www.facebook.com/firulaixfinance/" data-tabs="timeline"
                    data-width="500" data-height="200" data-small-header="false" data-adapt-container-width="true"
                    data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/firulaixfinance/" class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/firulaixfinance/">Firulaix</a>
                    </blockquote>
                </div>
            </div> -->
      </div>
    </div>
  </div>

  <!-- FOOTER-COPYRIGHT -->
  <div class="copyright">Firulaix | Todos los derechos reservados 2021</div>
</div>
