#main-content{
  background-color: #ffa600;
  font-family: 'Montserrat', sans-serif;
}

.row{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* TOOLBAR */
.example-spacer {
  flex: 1 1 auto;
}

button{
  outline: none;
  border: none;
  background: transparent;
}




/* BANNER */


  

.content-calculator{
    display: flex;
    justify-content: center;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* MAIN-SECTION */

.main-section-colaboracion{
  background-color: #fff;
  padding: 5rem 0 3rem 0;
  margin: 0 auto;
}


.main-section-colaboracion h1{
  text-align: center;
  font-size: 40px;
  margin-bottom: 5rem;

}

.colaboracion-content{
  display: flex;

}

.colaboracion-content p{
  /* font-weight: bold; */
  font-size: 20px;
}


.acounts{
  width: 70%;
  margin: 2.5rem auto 2.5rem auto;
}


.acounts p{
  color: #ffbd25;
  font-size: 15px;
  margin: 0;
}

.acounts hr{
  margin: 5px 0 20px 0;
}


.colaboracion-column{
  width: 50%;
  /* border: 1px solid red; */
  padding: 0 4rem;
}

.calculator{
  width: 100%;
}

.example-card{
  background-color: #ffa500;
  border-radius: 25px;
}


mat-card hr{
  margin: 5px 0 15px 0;
  color: #ffe600;
}

mat-card-header{
  /* background-color: tomato; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-card-title p{
  margin: 2rem 0 1rem 0;
  color: #fff;
}


.camp{
  background-color: #ffbd25;
  border-radius: 15px;
  width: 85%;
  margin: 3rem auto 3rem auto;
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.18);
  box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.18);

}

.camp-ajust{
  margin: 0 auto;
  padding: 1rem 1.5rem;
}

.camp-ajust p{
  color: rgba(0, 0, 0, 0.26);
}

.camp-from{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.camp mat-form-field{
  width: 100%;
  border: none;
  font-size: 25px;
}

.camp input{
  text-align: center;
  color: #fff;
}

.select-style{
  width: 10rem;
  border: 1px solid #ffbd25;
  border-radius: 30px;
  text-align: center;
  padding: 1rem .5rem;
  margin-left: 1rem;
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.18);
  box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.18);
}


.camp-form{
  padding: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: #ffa500;
  border-radius: 15px;
}

.camp-token{
  justify-content: center;
  align-items: center;
}

/* .camp-form div{
  display: flex;
  justify-content: space-between;
  width: 100%;
} */

.camp-form input{
  width: 100%;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: 0;
  border-bottom: 1px solid #ffbd25;
  text-align: center;
}

.button{
  border-radius: 20px;
  font-size: 15px;
  padding: 1rem .5rem;
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.18);
  box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.18);
  background-color: #ffbd25;
}



.wallet-input input{
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  outline: 0;
}

.camp-form p{
  font-size: 18px;
  color: rgba(255, 255, 255, 0.603);
  font-style: italic;
}


.button-login{
  font-size: 12px;
  border-radius: 20px;
  color: red;
  border: 1px solid red;
  margin-bottom: 2.2rem;
}

.conected{
  color: green;
  border-color: green;
}


.capture-content{
  width: 300px; 
  height: 350px;
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.18);
  box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.18);
}



/* EMAIL */

.content-button-email{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-email{
  width: 30rem;
  margin: 2rem auto 0 auto;
}



mat-form-field{
  margin: 2rem;
}


/* QR */

.btc_newsletter_wrapper {
  /* float: left; */
  width: 100%;
  /* background: yellow; */
  /* padding-top: 70px;
  padding-bottom: 70px; */
  position: relative;
  padding: 1.2rem 0;
  display: flex;
  justify-content: center;
  background-color: #fff; 
}

.container-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: blue; */
}

.btc_newsletter_text h4{
  margin-bottom: 20px;
  font-size: 20px;
}


.container-qr {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-qr img{
  width: 250px;
  /* float: right; */
}



.input-group{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* FOOTER */

.footer{
  background-color: #FFA500;
}

.footer_logo {
width: 40%;
margin-bottom: 1rem;
}

.redes-sociales{
margin-bottom: 2rem;
}
.social a {
border-radius: 50px;
background-color: #fff;
position: relative;
padding: 10px 0px;
}
.social img {
width: 5%;
margin: 0 10px;
filter: brightness(0%);
}


.links a{
display: block;
color: #fff;
text-decoration: none;
line-height: 2rem;
}
.links a:hover {
color: rgb(226, 226, 226);
}






/* COPYRIGHT */

.copyright {
text-align: center;
background: #FCC74D;
color: #fff;
padding: 1rem 0;
}







@media (min-width: 1px) and (max-width: 1100px){
  .colaboracion-content{
    flex-direction: column;
  }

  .colaboracion-column{
    width: 100%;
  }

  .content-calculator{
    margin: 8rem auto;
  }
}


@media(min-width: 1px) and (max-width: 767px){
  .colaboracion-column{
    padding: 0 1.5rem;
  }
}










.contenido{
  background-color: #ffa500;
}


