<div style="height: 1rem;"></div>
<div class="contenido-main-white">
    <div class="main-text">
        <p>{{"Intercambio" | translate}}</p>
        <h1>{{"Adquiere tus firu´s" | translate}}</h1>
    </div>

    <div class="main-graphic">
        <iframe class="frame-graphic" src="https://dex.guru/token/0xe16d271322273a77ba5748df4fd9209c4bea541f-bsc"></iframe>
    </div>

</div>

<div class="content-blocks">
    <div class="block-contenedor">
        <div class="block-image">
            <img src="../../../assets/images/adquirir-page/banana.png" alt="">
        </div>

        <div class="block">
            <h2>{{"Conseguir FIRU's en Apeswap" | translate}}</h2>
            <hr>
            <img src="../../../assets/images/adquirir-page/swap.png" alt="">
            <div>
                <p><span>1.</span> {{"Dirigirse a la página de intercambio" | translate}} <a href="https://app.apeswap.finance/swap?inputCurrency=0xe9e7CEA3DedcA5984780Bafc599bD69ADd087D56&outputCurrency=0xE16d271322273a77BA5748DF4FD9209C4bEA541F" target="_blank">{{"aquí." | translate}}</a></p>
                <p><span>2.</span> {{"Si aún no ha conectado su billetera a Apeswap, puede hacerlo con el boton conectar en la partes superior derecha de la plataforma. puede ver la guía" | translate}} <a href="https://docs.binance.org/smart-chain/wallet/metamask.html" target="_blank">{{"aquí." | translate}}</a></p>
                <p><span>3.</span> {{"Elija el token con el que desea operar en el menú desplegable de la sección 'Front'. La configuración predeterminada es BUSD. Cualquiera que sea el token que elija, deberá asegurarse de tener algunos con los que comerciar. Su saldo se muestra encima del menú desplegable de token's." | translate}}</p>
                <p><span>4.</span> {{"Elija el token con el que desea comerciar en la sección 'To' como se indicó anteriormente. A continuación, escriba una cantidad para su moneda 'To' haciendo clic dentro del cuadro de entrada. El monto de la moneda 'From' se calculará automáticamente. También puede escribir la cantidad 'From' y tener la estimación de la cantidad 'To' automáticamente si lo desea." | translate}}</p>
                <p><span>5.</span> {{"Verifique los detalles y haga clic en el botón 'Change'." | translate}}</p>
                <p><span>6.</span> {{"Aparecerá una ventana con más detalles. Verifique que los detalles sean correctos. Cuando esté listo, haga clic en el botón Confirmar intercambio. Su billetera le pedirá que confirme la acción." | translate}}</p>
                <p><span>7.</span> {{"¡Listo! Puede hacer clic en Ver en BscScan para ver los detalles de su transacción en el explorador." | translate}}</p>
            </div>
        </div>
    </div>

    <div class="block-contenedor">
        <div class="block-image">
            <img src="../../../assets/images/adquirir-page/firu-banana.png" alt="">
        </div>

        <div class="block">
            <h2>{{"Agregar fondos de liquidez" | translate}}</h2>
            <hr>
            <img src="../../../assets/images/adquirir-page/liquidity.png" alt="">
            <div>
                <p><span>1.</span> {{"Para proporcionar liquidez, deberá comprometer una cantidad de cualquier par de tokens que desee. Su valor más bajo (en USD) de los dos tokens será el límite a la liquidez que puede proporcionar." | translate}}</p>
                <p><span>2.</span>  {{"Seleccione la token que agregará liquidez en este ejemplo utilizamos BUSD e FIRU, ingrese una cantidad en uno de los tokens en 'Entrada'. El otro lo calculará automáticamente." | translate}}</p>
                <p><span>3.</span>  {{"Haga clic en el botón Aprobar FIRU. Su billetera le pedirá que confirme la acción." | translate}}</p>
                <p><span>4.</span> {{"El botón de suministro se iluminará. Pinchelo." | translate}}</p>
                <p><span>5.</span> {{"Aparecerá una ventana que indica cuánto efecto. Haga clic en el botón Confirmar suministro. Su billetera le pedirá que confirme la acción." | translate}}</p>
                <p><span>6.</span> {{"Después de una breve espera, verá el saldo de su LP Token en la parte inferior de la página y puede repetir los pasos anteriores para agregar más liquidez en cualquier momento." | translate}}</p>
                <p><span>7.</span> {{"Agregue liquidez" | translate}} <a href="https://app.apeswap.finance/add/0xe9e7CEA3DedcA5984780Bafc599bD69ADd087D56/0xE16d271322273a77BA5748DF4FD9209C4bEA541F" target="_blank">{{"aquí." | translate}}</a></p>
            </div>
        </div>
    </div>
</div>


<section id="section-qr">
    <div class="content-qr">
        <div class="qr-text">
            <div>
                <h2>{{"Puedes colaborar con nuestro proyecto depositando en:" | translate}}</h2>
                <p>
                    <span>{{"Dirección de recepción:" | translate}}</span><br>
                    0xCe0e30CbCbEBbC05D3fE7f7a4ADEbb21041bB1d2
                </p>
                <p>
                    <span>{{"Token aceptado:" | translate}}</span><br>
                    {{"Cualquier" | translate}} BEP20 - MOVR - BSC - POLYGON - ETH
                </p>
                <p style="margin-bottom: 0;">
                    <span>{{"Token preferido:" | translate}}</span><br>
                    FIRU
                </p>
            </div>      
        </div>
  
        <div class="qr-image">
            <img src="../../../assets/images/adquirir-page/firu-qr.jpg" alt="">
        </div>
    </div> 
  </section>
