<div class="content-forms">
  <div class="form-column">
    <div class="form-text">
      <p>
        Puedes colaborar con nuestro proyecto haciendo un depósito a nuestras
        siguientes cuentas del banco:
      </p>
      <div class="form-text-information" style="margin: 4rem auto 4rem auto">
        <div>
          <p><span> BCP NRO. CTA SOLES: </span>193-05291854-0-06</p>
          <hr />
          <p><span> BCP NRO. CCI SOLES: </span>00219310529185400613</p>
          <hr />
        </div>
        <div>
          <p><span> BCP NRO. CTA DOLARES: </span>193-05291860-1-12</p>
          <hr />
          <p><span> BCP NRO. CCI DOLARES: </span>00219310529186011211</p>
          <hr />
        </div>
        <div>
          <p><span>SWIFT: </span>BCPLPEPL</p>
          <hr />
        </div>
      </div>
    </div>
    <div class="form-calc-graphic">
      <mat-card id="calculator" class="card-design">
        <mat-card-header>
          <mat-card-title>
            <p>Calculadora Firulaix</p>
          </mat-card-title>
          <mat-card-subtitle>
            <p>Compra: {{ tipoCambioImp }}</p>
          </mat-card-subtitle>
        </mat-card-header>
        <hr />
        <mat-card-content>
          <form [formGroup]="convertorForm" (submit)="submit()">
            <div class="calc-graphic-camp">
              <div class="camp-from">
                <div class="border-button select-style">
                  <!-- <mat-select formControlName="tipoMoneda">
                    <mat-option value="soles">S/ Soles</mat-option>
                    <mat-option value="dolares">$ Dolares</mat-option>
                  </mat-select> -->
                  S/ Soles
                </div>

                <mat-form-field>
                  <input
                    type="number"
                    onkeydown="return event.keyCode !== 69"
                    matInput
                    formControlName="valorIngresado"
                    autocomplete="off"
                  />
                </mat-form-field>
              </div>
            </div>

            <div class="calc-graphic-camp">
              <div class="camp-from">
                <div class="border-button select-style">
                  <mat-select formControlName="tipoToken">
                    <mat-option value="usdt" selected>USDT</mat-option>
                    <mat-option value="firu">FIRU</mat-option>
                  </mat-select>
                </div>
                <mat-form-field>
                  <input matInput formControlName="resultado" />
                </mat-form-field>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="form-text" style="margin-top: 3rem">
      <p>Horarios de atención:</p>
      <div class="form-text-information">
        <p>Lunes a Viernes - 9:00hrs a 18:00hrs</p>
        <p>Sábados - 9:00hrs a 13:00hrs</p>
        <p style="margin-top: 1.5rem">
          * Cualquier colaboración fuera de los horarios establecidos, serán
          atendidos al siguiente día. Si es fin de semana o feriado, se atenderá
          el día hábil más próximo.
        </p>
      </div>
    </div>
  </div>

  <div class="form-column">
    <mat-card class="card-design" id="formulary">
      <mat-card-header>
        <mat-card-title>
          <p>Formulario de Compra</p>
        </mat-card-title>
      </mat-card-header>
      <hr />

      <mat-card-content>
        <form
          (submit)="uploadBuy(numOp, address, email, tCambio)"
          [formGroup]="sendBuyFormulary"
        >
          <input
            type="text"
            formControlName="tCambioFormControl"
            #tCambio
            style="display: none"
          />

          <div class="form-register-camp">
            <mat-form-field>
              <input
                type="text"
                onkeydown="return event.keyCode !== 69"
                autocomplete="off"
                matInput
                placeholder="Número de Operación"
                formControlName="opFormControl"
                #numOp
              />

              <mat-error
                *ngIf="
                  sendBuyFormulary.get('opFormControl').invalid &&
                  sendBuyFormulary.get('opFormControl').value != 0
                "
              >
                Debe ingresar un número de operación válido
              </mat-error>

              <mat-error
                *ngIf="sendBuyFormulary.get('opFormControl').value == 0"
              >
                Este campo es requerido
              </mat-error>
            </mat-form-field>

            <div class="button-help" (click)="openDialogWithRef(infoOp)">
              <i class="fas fa-info"></i>
            </div>

            <ng-template #infoOp>
              <p matDialogContent class="alert-text">
                Ingrese el número de operación que figure en su voucher
              </p>

              <mat-dialog-actions align="end">
                <button mat-flat-button color="warn" matDialogClose>
                  Cerrar
                </button>
              </mat-dialog-actions>
            </ng-template>
          </div>

          <div class="form-register-camp">
            <mat-form-field>
              <input
                type="text"
                autocomplete="off"
                matInput
                placeholder="Address"
                [disabled]="true"
                formControlName="addressFormControl"
                #address
              />

              <mat-error
                *ngIf="
                  sendBuyFormulary.get('addressFormControl').invalid &&
                  sendBuyFormulary.get('addressFormControl').value != 0
                "
              >
                Debe ingresar un address válido
              </mat-error>

              <mat-error
                *ngIf="sendBuyFormulary.get('addressFormControl').value == 0"
              >
                Este campo es requerido
              </mat-error>
            </mat-form-field>

            <div class="button-help" (click)="openDialogWithRef(infoAddress)">
              <i class="fas fa-info"></i>
            </div>

            <ng-template #infoAddress>
              <p matDialogContent class="alert-text">
                Ingrese el address donde quieras que te lleguen tus FIRU's
              </p>

              <mat-dialog-actions align="end">
                <button mat-flat-button color="warn" matDialogClose>
                  Cerrar
                </button>
              </mat-dialog-actions>
            </ng-template>
          </div>

          <div class="form-register-camp">
            <mat-form-field>
              <input
                type="text"
                autocomplete="off"
                matInput
                placeholder="Email"
                formControlName="emailBuyFormControl"
                #email
              />
              <mat-error
                *ngIf="
                  sendBuyFormulary.get('emailBuyFormControl').invalid &&
                  sendBuyFormulary.get('emailBuyFormControl').value != 0
                "
              >
                Debe ingresar un email válido
              </mat-error>

              <mat-error
                *ngIf="sendBuyFormulary.get('emailBuyFormControl').value == 0"
              >
                Este campo es requerido
              </mat-error>
            </mat-form-field>

            <div class="button-help" (click)="openDialogWithRef(infoEmail)">
              <i class="fas fa-info"></i>
            </div>

            <ng-template #infoEmail>
              <p matDialogContent class="alert-text">
                Digite un email válido para enviarle la información de la
                transacción de sus FIRU's
              </p>

              <mat-dialog-actions align="end">
                <button mat-flat-button color="warn" matDialogClose>
                  Cerrar
                </button>
              </mat-dialog-actions>
            </ng-template>
          </div>

          <div style="margin: 1.5rem 0">
            <p class="text-help">
              Click dentro del recuadro para cargar una foto de tu voucher de
              pago
            </p>
          </div>

          <input
            type="file"
            class="d-none"
            (change)="onPhotoBuySelected($event)"
            accept="image/*"
            formControlName="imageBuyFormControl"
            #photoInput
          />

          <div class="image-content">
            <img
              id="imageX"
              [src]="photoBuySelected || 'assets/no-image-2.png'"
              class="img-fluid"
              (click)="photoInput.click()"
            />
          </div>

          <div
            style="
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 2rem 0;
            "
          >
            <re-captcha
              id="recaptcha"
              name="recaptcha"
              formControlName="recaptchaFormControl"
              siteKey="6Lc6xiseAAAAAFYbujSRhuScGJ98qCLIPCUd-i9f"
            ></re-captcha>
          </div>

          <div class="button-formulary">
            <button
              mat-flat-button
              color="accent"
              [disabled]="sendBuyFormulary.invalid"
              (click)="openDialogWithRef(registerSend)"
            >
              Enviar
            </button>
          </div>

          <ng-template #registerSend>
            <div class="popup-width-image">
              <img src="../../../assets/images/popup-firu-2.png" />
            </div>
            <p matDialogContent class="alert-text">
              Gracias por su compra, recibira un email de confirmación. Revise
              su bandeja de entrada de lo contrario su bandeja 'spam'.
            </p>

            <mat-dialog-actions align="end">
              <button mat-flat-button color="warn" matDialogClose>
                Cerrar
              </button>
            </mat-dialog-actions>
          </ng-template>
        </form>
      </mat-card-content>
    </mat-card>

    <form #form="ngForm">
      <div class="row mt-3">
        <div class="col-sm-12 mb-2"></div>
      </div>
    </form>
  </div>
</div>
