<div class="content-forms">
    
    <div class="form-calc-graphic" style="margin: 0 auto">
      <mat-card id="calculator" class="card-design">
        <mat-card-header>
          <mat-card-title>
            <p>Calculadora Firulaix</p>
          </mat-card-title>
          <mat-card-subtitle>
          </mat-card-subtitle>
        </mat-card-header>
        <hr />
        <mat-card-content>
          <form [formGroup]="convertorForm" (submit)="submit()">
            <div class="calc-graphic-camp">
              <div class="camp-from" style="position: relative">
               
                
                <div class="border-button select-style">    
                  Cantidad
                </div>

                <mat-form-field>
                  <div>
                    <input
                    type="number"
                      onkeydown="return event.keyCode !== 69"
                      matInput
                      formControlName="valorIngresado"
                      autocomplete="off"
                    />
                  </div>
                </mat-form-field>
              </div>
            </div>

            <div class="calc-graphic-camp">
              <div class="camp-from">
                <div class="border-button select-style">
                  <mat-select formControlName="tipoToken">
                    <mat-option value="MOVR" selected>MOVR</mat-option>
                    <mat-option value="FIRU">FIRU</mat-option>
                  </mat-select>
                </div>
                <mat-form-field>
                  <input matInput formControlName="resultado" />
                </mat-form-field>
              </div>

            </div>

          </form>
        </mat-card-content>
      </mat-card>
    </div>

</div>
