<div style="height: 1rem"></div>
<div class="contenido-main-white">
  <div class="main-text">
    <p>{{"Migración" | translate}}</p>
    <h1>
      {{"Los FIRU's en la red BSC tienen que ser devueltos a esta dirección:" | translate}}<br /><span
        >0xCe0e30CbCbEBbC05D3fE7f7a4ADEbb21041bB1d2</span
      >
    </h1>
  </div>

  <div class="content-forms">
    <div class="form-column">
      <div class="form-text second-text">
        <p>
          {{"Ingrese los datos requeridos para enviarte el firulaix de la red
          Moonriver:" | translate}}
        </p>
      </div>

      <div
        style="
          text-align: center;
          margin: 1rem 0;
          color: #ffa500;
          font-weight: bold;
        "
      >
        <span (click)="openDialogWithRef(tutorial)" style="cursor: pointer">{{
          "¿Aun no tienes una billetera virtual?" | translate
        }}</span>
      </div>

      <ng-template #tutorial>
        <p matDialogContent class="alert-text">
          {{
            "Si aun no tiene una billetera virtual puede ver nuestro tutorial:"
              | translate
          }}
        </p>
        <iframe
          src="https://www.youtube.com/embed/H5x7NVYWjFY"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          style="width: 100%; height: 350px"
          allowfullscreen
        ></iframe>

        <mat-dialog-actions align="end">
          <button mat-flat-button color="warn" matDialogClose>
            {{ "Cerrar" | translate }}
          </button>
        </mat-dialog-actions>
      </ng-template>

      <mat-card class="card-design" id="formulary">
        <mat-card-header>
          <mat-card-title>
            <p>{{"Formulario de transacción" | translate}}</p>
          </mat-card-title>
        </mat-card-header>
        <hr />

        <mat-card-content>
          <form
            (submit)="uploadRegister(op, address, email)"
            [formGroup]="sendFormulary"
          >
            <div class="form-register-camp">
              <mat-form-field>
                <input
                  autocomplete="off"
                  matInput
                  placeholder="{{'Hash de transacción de BSC' | translate}}"
                  [disabled]="true"
                  formControlName="opFormControl"
                  #op
                />

                <mat-error
                  *ngIf="
                    sendFormulary.get('opFormControl').invalid &&
                    sendFormulary.get('opFormControl').value != 0
                  "
                >
                  {{ "Debe ingresar un hash valido" | translate }}
                </mat-error>

                <mat-error
                  *ngIf="sendFormulary.get('opFormControl').value == 0"
                >
                  {{ "Este campo es requerido" | translate }}
                </mat-error>
              </mat-form-field>

              <div class="button-help" (click)="openDialogWithRef(infoOp)">
                <i class="fas fa-info"></i>
              </div>

              <ng-template #infoOp>
                <p matDialogContent class="alert-text">
                  {{"Ingrese el numero de tx. del envio de sus FIRU's en BSC" | translate}}
                </p>

                <mat-dialog-actions align="end">
                  <button mat-flat-button color="warn" matDialogClose>
                    {{ "Cerrar" | translate }}
                  </button>
                </mat-dialog-actions>
              </ng-template>
            </div>

            <div class="form-register-camp">
              <mat-form-field>
                <input
                  autocomplete="off"
                  matInput
                  placeholder="Address"
                  [disabled]="true"
                  formControlName="addressFormControl"
                  #address
                />

                <mat-error
                  *ngIf="
                    sendFormulary.get('addressFormControl').invalid &&
                    sendFormulary.get('addressFormControl').value != 0
                  "
                >
                  {{ "Debe ingresar un address válido" | translate }}
                </mat-error>

                <mat-error
                  *ngIf="sendFormulary.get('addressFormControl').value == 0"
                >
                  {{ "Este campo es requerido" | translate }}
                </mat-error>
              </mat-form-field>

              <button
                class="button-login yellow-border-button"
                id="metamask_login"
                type="button"
              >
                {{ "Conectar" | translate }}
              </button>

              <div class="button-help" (click)="openDialogWithRef(infoAddress)">
                <i class="fas fa-info"></i>
              </div>

              <ng-template #infoAddress>
                <p matDialogContent class="alert-text">
                  {{
                    "Pegue el address donde quieras que te lleguen tus FIRU's"
                      | translate
                  }}
                </p>

                <mat-dialog-actions align="end">
                  <button mat-flat-button color="warn" matDialogClose>
                    {{ "Cerrar" | translate }}
                  </button>
                </mat-dialog-actions>
              </ng-template>
            </div>

            <div
              style="
                display: flex;
                align-items: center;
                justify-content: center;
              "
            >
              <p id="token" class="text-help" style="margin: 0">
                {{ "Conéctate para ver tu address aquí" | translate }}
              </p>
              <button
                type="button"
                (click)="pasteAddress()"
                class="paste-address yellow-border-button"
                matTooltip="¿Deseas recibir tus FIRU's en esta dirección?"
              >
                <i class="fas fa-paste"></i>
              </button>
            </div>

            <div class="form-register-camp">
              <mat-form-field>
                <input
                  autocomplete="off"
                  matInput
                  placeholder="Email"
                  formControlName="emailFormControl"
                  #email
                />
                <mat-error
                  *ngIf="
                    sendFormulary.get('emailFormControl').invalid &&
                    sendFormulary.get('emailFormControl').value != 0
                  "
                >
                  {{ "Debe ingresar un email válido" | translate }}
                </mat-error>

                <mat-error
                  *ngIf="sendFormulary.get('emailFormControl').value == 0"
                >
                  {{ "Este campo es requerido" | translate }}
                </mat-error>
              </mat-form-field>

              <div class="button-help" (click)="openDialogWithRef(infoEmail)">
                <i class="fas fa-info"></i>
              </div>

              <ng-template #infoEmail>
                <p matDialogContent class="alert-text">
                  {{
                    "Digite un email válido para enviarle la información de la transacción de sus FIRU's"
                      | translate
                  }}
                </p>

                <mat-dialog-actions align="end">
                  <button mat-flat-button color="warn" matDialogClose>
                    {{ "Cerrar" | translate }}
                  </button>
                </mat-dialog-actions>
              </ng-template>
            </div>

            <div style="position: relative; width: 90%">
              <div style="margin: 1.5rem 0">
                <p class="text-help">
                  {{"Click dentro del recuadro para cargar una foto de la transacción realizada" | translate}}
                </p>
              </div>

              <div class="button-help" (click)="openDialogWithRef(infoCapture)">
                <i class="fas fa-info"></i>
              </div>

              <ng-template #infoCapture>
                <p matDialogContent class="alert-text">
                  {{"Realiza una captura de tu transacción como en el siguiente ejemplo:" | translate}}
                </p>
                <div style="display: flex; align-items: center; justify-content: center;">
                  <img src="../../../assets/images/capture-example.jpg" style="width: 80%;">
                </div>

                <mat-dialog-actions align="end">
                  <button mat-flat-button color="warn" matDialogClose>
                    {{ "Cerrar" | translate }}
                  </button>
                </mat-dialog-actions>
              </ng-template>
            </div>

            <input
              type="file"
              class="d-none"
              (change)="onPhotoSelected($event)"
              accept="image/*"
              formControlName="imageFormControl"
              #photoInput
            />

            <div class="image-content">
              <img
                id="imagex"
                [src]="photoSelected || 'assets/no-image-2.png'"
                class="img-fluid"
                (click)="photoInput.click()"
              />
            </div>

            <div
              style="
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 2rem 0;
              "
            >
              <ngx-recaptcha2
                #captchaElem
                [siteKey]="siteKey"
                formControlName="recaptchaFormControl"
              >
              </ngx-recaptcha2>
            </div>

            <div class="button-formulary">
              <button
                mat-flat-button
                color="accent"
                [disabled]="sendFormulary.invalid"
                (click)="openDialogWithRef(registerSend)"
              >
                {{ "Enviar" | translate }}
              </button>
            </div>

            <ng-template #registerSend>
              <div class="popup-width-image">
                <img src="../../../assets/images/popup-firu-2.png" />
              </div>
              <p matDialogContent class="alert-text">
                {{
                  "Gracias por su colaboración, recibira un email de confirmación."
                    | translate
                }}
                <br />{{
                  "Revise su bandeja de entrada de lo contrario su bandeja 'spam'."
                    | translate
                }}
              </p>

              <mat-dialog-actions align="end">
                <button mat-flat-button color="warn" matDialogClose>
                  {{ "Cerrar" | translate }}
                </button>
              </mat-dialog-actions>
            </ng-template>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<section id="section-qr">
  <div class="content-qr">
    <div class="qr-text">
      <div>
        <h2>
          {{
            "Puedes colaborar con nuestro proyecto depositando en:" | translate
          }}
        </h2>
        <p>
          <span>{{ "Dirección de recepción:" | translate }}</span
          ><br />
          0xCe0e30CbCbEBbC05D3fE7f7a4ADEbb21041bB1d2
        </p>
        <p>
          <span>{{ "Token aceptado:" | translate }}</span
          ><br />
          cualquier BEP20 (BSC)
        </p>
        <p style="margin-bottom: 0">
          <span>{{ "Token preferido:" | translate }}</span
          ><br />
          FIRU
        </p>
      </div>
    </div>

    <div class="qr-image">
      <img src="../../../assets/images/adquirir-page/firu-qr.jpg" alt="" />
    </div>
  </div>
</section>
