<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="menu-content container-fluid">
      <a routerLink="/inicio">
        <img src="../../../assets/images/logo.png" style="width: 160px;">
      </a>

      <select #langSelect (change)="changeLang(langSelect.value)" class="select-languaje">
        <option value="es">Español <img src="../../../assets/images/es.png"></option>
        <option value="en">English <img src="../../../assets/images/en.png"></option>
      </select>


      <!-- <mat-select [(value)]="langSelect" (change)="changeLang(langSelect)" style="width: 8rem;">
        <mat-option value="es">Español</mat-option>
        <mat-option value="en">English</mat-option>
      </mat-select>

      {{langSelect}} -->

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav" style="margin-left: auto;">
          <li class="nav-item">
            <a class="nav-link" routerLink="/adquiere" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{"Adquirir" | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/colaborar" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="openDialogWithRef(colaboraFiat)">{{"Colaboración" | translate }}</a>
          </li>

          <ng-template #colaboraFiat>
            <div class="popup-width-image">
              <img src="../../../assets/images/popup-firu-1.png">
            </div>
            <p matDialogContent class="alert-text">
              {{"Falta poco para que puedan adquirir sus Firu's con Fiat." | translate}}
            </p>
            
            <mat-dialog-actions align="end">
              <button mat-flat-button color="warn" matDialogClose>{{"Cerrar" | translate}}</button>
            </mat-dialog-actions>
          </ng-template>
        </ul>
      </div>
    </div>
</nav>
