<div class="banner-firulaix">
    <img src="../assets/firu-banner.jpg" alt="" />
</div>

<div class="contenido-main-white">
    <div class="main-text">
        <p>Contribución</p>
        <h1>Colabora con nuestro proyecto</h1>
    </div>

    <div class="content-forms">
        <div class="form-column">
            <div class="form-text">
                <p>Puedes colaborar con nuestro proyecto haciendo un depósito a nuestras siguientes cuentas del banco:</p>
                <div class="form-calc-accounts">
                    <p>BBVA:</p><hr>
                    <p>CCI:</p><hr>
                    <p>SWIFT:</p><hr>
                </div>
            </div>

            <div class="form-calc-graphic">
                <mat-card id="calculator" class="card-design">
                  <mat-card-header>
                    <mat-card-title>
                      <p>Calculadora Firulaix</p>
                    </mat-card-title>
                    <mat-card-subtitle>
                      <p>equivalencia en firu's</p>
                    </mat-card-subtitle>
                  </mat-card-header>
                  <hr />
                  <mat-card-content>
                    <form
                    [formGroup]="convertorForm"
                    (submit)="submit()"
                  >
                      <div class="calc-graphic-camp">
                          <p>From:</p>
                          <div class="camp-from">
                              <mat-form-field>
                                <input
                                  type="number"
                                  matInput
                                  formControlName="valorIngresado"
                                  autocomplete="off"
                                />
                              </mat-form-field>
    
                            <div class="select-style">
                              <mat-select formControlName="tipoMoneda">
                                <mat-option value="soles">S/ Soles</mat-option>
                                <mat-option value="dolares">$ Dolares</mat-option>
                              </mat-select>
                            </div>
                          </div>
                      </div>
    
                      <div class="calc-graphic-camp">
                          <p>To:</p>
                          <mat-form-field>
                            <input
                              type="number"
                              matInput
                              formControlName="resultado"
                            />
                          </mat-form-field>
                      </div>
                    </form>
                  </mat-card-content>
                </mat-card>
              </div>
        </div>


        <div class="form-column">

          <div class="form-text">
            <p>Aquí podrás visualizar tu address en caso te hayas creado una wallet en Metamask, para ello debes ingresar desde el plugin de tu navegador o haciendo click en el siguiente boton:</p>
        </div>
        
        <div class="login-content card-design">
            <button mat-flat-button color="accent" class="button-login" id="metamask_login">
                <i class="fas fa-chevron-left"></i>
                Conectar
            </button>

              <p id="token" class="image-text">Conéctate para ver tu address aquí</p>
        </div>
        
        <div class="no-wallet">
            <button data-bs-toggle="modal" data-bs-target="#modal_wallet" mat-flat-button color="warn">
                ¿Aun no tienes una billetera virtual?
            </button>

            <div class="modal fade" id="modal_wallet" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">
                    Si aun no tiene una billetera virtual puede ver nuestro tutorial:
                  </h4>
                  
                  <div data-bs-dismiss="modal" aria-label="Close" class="close-modal">X</div>
                </div>
                <div class="modal-body">
                  <iframe src="https://www.youtube.com/embed/H5x7NVYWjFY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" style="width: 100%; height: 350px;" allowfullscreen></iframe>
                </div>

              </div>
            </div>
            </div>
        </div>


            <div class="form-text second-text">
                <p>Ingresa tus datos para registrar tu colaboración y hacerte llegar tu obsequio:</p>
            </div>

            <mat-card class="card-design" id="formulary">
                <mat-card-content>
                    <form (submit)="uploadRegister(op, address, email)">

                      <div class="form-register-camp">
                        <mat-form-field>
                            <input autocomplete="off" matInput placeholder="Operación" [formControl]="opFormControl" #op/>
    
                            <mat-error *ngIf="opFormControl.hasError('op') && !opFormControl.hasError('required')">
                                Debe ingresar un número de operación válido
                            </mat-error>
          
                            <mat-error *ngIf="opFormControl.hasError('required')">
                                Este campo es requerido
                            </mat-error>
                        </mat-form-field>
                      </div>
                      
                        <div class="form-register-camp">
                            <mat-form-field>
                                <input autocomplete="off" matInput placeholder="Address" [formControl]="addressFormControl" #address/>
                                
                                <mat-error *ngIf="addressFormControl.hasError('minlength') && !addressFormControl.hasError('required')">
                                    Debe ingresar un address válido
                                </mat-error>
            
                                <mat-error *ngIf="addressFormControl.hasError('required')">
                                    Este campo es requerido
                                </mat-error>
                            </mat-form-field>

                            <button mat-flat-button color="accent" class="button-login" id="metamask_login"
                            style="margin-left: 5px;"
                            type="button"
                            (click)="btnAddress()"
                            >
                                <i class="fas fa-chevron-left"></i>
                                Conectar
                            </button>

                            <!-- <button mat-mini-fab color="accent" class="button-help" data-bs-target="#exampleModal2">
                                <i class="fas fa-info"></i>
                            </button>

                            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h4 class="modal-title" id="exampleModalLabel">
                                        Si aun no tiene una billetera virtual puede ver nuestro tutorial:
                                      </h4>
                                      
                                      <button mat-flat-button color="warn" data-bs-dismiss="modal" aria-label="Close">X</button>
                                    </div>
                                    <div class="modal-body">
                                      <iframe src="https://www.youtube.com/embed/H5x7NVYWjFY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" style="width: 100%; height: 350px;" allowfullscreen></iframe>
                                    </div>
                  
                                  </div>
                                </div>
                                </div> -->

                                <div data-bs-toggle="modal" data-bs-target="#modal_address"class="button-help">
                                    <i class="fas fa-info"></i>
                                </div>
                
                                <div class="modal fade" id="modal_address" tabindex="-1" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <div data-bs-dismiss="modal" aria-label="Close" class="close-modal">X</div>
                                      </div>
                                      <div class="modal-body">
                                      <p>Escribe el address que te proporcionan al momento de crearte una billetera virtual</p>
                                      </div>
                    
                                    </div>
                                  </div>
                                </div>

                        </div>
        
        
                        <div class="form-register-camp">
                            <mat-form-field>
                                <input autocomplete="off" matInput placeholder="Email" [formControl]="emailFormControl" #email/>
        
                                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                    Debe ingresar un email válido
                                </mat-error>
              
                                <mat-error *ngIf="emailFormControl.hasError('required')">
                                    Este campo es requerido
                                </mat-error>
                            </mat-form-field>
                        </div>

                            <p class="image-text">Click dentro del recuadro para cargar una foto de tu voucher de pago</p>

                            <input type="file" class="d-none" (change)="onPhotoSelected($event)" [formControl]="imageFormControl" #photoInput>

                            <div class="image-content">
                                <img [src]="photoSelected || 'assets/no-image-2.png'" class="img-fluid" (click)="photoInput.click()">
                            </div>
                            

                            <div class="button-formulary">
                                <button mat-flat-button color="accent" [disabled]="emailFormControl.invalid || addressFormControl.invalid || imageFormControl.invalid"> 
                                    Enviar
                                </button>
                            </div>
        
                    </form>                 
                </mat-card-content>
            </mat-card>

        </div>
    </div>  

</div>




<section id="section-qr">
    <div class="content-qr">
        <div class="qr-text">
            <div>
                <h2>Puedes colaborar con nuestro proyecto depositando en:</h2>
                <p>
                    <span>Dirección de recepción:</span><br>
                    0xCe0e30CbCbEBbC05D3fE7f7a4ADEbb21041bB1d2
                </p>
                <p>
                    <span>Token aceptado:</span><br>
                    cualquier BEP20 (BSC)
                </p>
                <p style="margin-bottom: 0;">
                    <span>Token preferido:</span><br>
                    FIRU
                </p>
            </div>      
        </div>

        <div class="qr-image">
            <img src="../../../assets/firu-qr.jpg" alt="">
        </div>
    </div> 
</section>
