<div class="banner-firulaix">
    <img src="../assets/firu-banner.jpg" alt="" />
</div>

<div class="contenido-main-white">
    <div class="main-text">
        <p>{{"Contribución" | translate}}</p>
        <h1>{{"Colabora con nuestro proyecto" | translate}}</h1>
    </div>

    <div class="content-forms">
      <div class="form-column">
            <div class="form-text">
                <p>{{"Puedes colaborar con nuestro proyecto haciendo un depósito a nuestras siguientes cuentas del banco:" | translate}}</p>
                <div class="form-calc-accounts">
                    <p>BBVA:</p><hr>
                    <p>CCI:</p><hr>
                    <p>SWIFT:</p><hr>
                </div>
            </div>

            <div class="form-calc-graphic">
                <mat-card id="calculator" class="card-design">
                  <mat-card-header>
                    <mat-card-title>
                      <p>{{"Calculadora firulaix" | translate}}</p>
                    </mat-card-title>
                    <mat-card-subtitle>
                      <p>{{"Equivalencia en firu's" | translate}}</p>
                    </mat-card-subtitle>
                  </mat-card-header>
                  <hr />
                  <mat-card-content>
                    <form
                    [formGroup]="convertorForm"
                    (submit)="submit()"
                  >
                      <div class="calc-graphic-camp">
                          <p>{{"De:" | translate}}</p>
                          <div class="camp-from">
                              <mat-form-field>
                                <input
                                  type="number"
                                  matInput
                                  formControlName="valorIngresado"
                                  autocomplete="off"
                                />
                              </mat-form-field>
    
                            <div class="select-style">
                              <mat-select formControlName="tipoMoneda">
                                <mat-option value="soles">S/ Soles</mat-option>
                                <mat-option value="dolares">$ {{"Dolares" | translate}}</mat-option>
                              </mat-select>
                            </div>
                          </div>
                      </div>
    
                      <div class="calc-graphic-camp">
                          <p>{{"Para:" | translate}}</p>
                          <mat-form-field>
                            <input
                              type="number"
                              matInput
                              formControlName="resultado"
                            />
                          </mat-form-field>
                      </div>
                    </form>
                  </mat-card-content>
                </mat-card>
              </div>
      </div>


      <div class="form-column">

        <div class="form-text second-text">
          <p>{{"Ingresa tus datos para registrar tu colaboración y hacerte llegar tu obsequio:" | translate}}</p>
        </div>

        <div style="text-align: center; margin: 1rem 0; color: #ffa500; font-weight: bold;">
          <span (click)="openDialogWithRef(tutorial)" style="cursor: pointer">{{"¿Aun no tienes una billetera virtual?" | translate}}</span>
        </div>

        <ng-template #tutorial>
          <p matDialogContent class="alert-text">
            {{"Si aun no tiene una billetera virtual puede ver nuestro tutorial:" | translate}}
          </p>
          <iframe src="https://www.youtube.com/embed/H5x7NVYWjFY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" style="width: 100%; height: 350px;" allowfullscreen></iframe>

          <mat-dialog-actions align="end">
            <button mat-flat-button color="warn" matDialogClose>{{"Cerrar" | translate}}</button>
          </mat-dialog-actions>
      </ng-template>



        <mat-card class="card-design" id="formulary">
          <mat-card-header>
            <mat-card-title>
              <p>{{"Formulario de colaboración" | translate}}</p>
            </mat-card-title>
          </mat-card-header>
          <hr />

          <mat-card-content>
            <form (submit)="uploadRegister(op, address, email)" [formGroup]="sendFormulary">
              <div class="form-register-camp">
                <mat-form-field>
                  <input autocomplete="off" matInput placeholder="{{'Número de Operación' | translate}}" formControlName="opFormControl" #op/>
                  
                  <mat-error *ngIf="sendFormulary.get('opFormControl').invalid && sendFormulary.get('opFormControl').value != 0">
                    {{"Debe ingresar un número de operación válido" | translate}}
                  </mat-error>
          
                  <mat-error *ngIf="sendFormulary.get('opFormControl').value == 0">
                    {{"Este campo es requerido" | translate}}
                  </mat-error>
                </mat-form-field>

                <div class="button-help" (click)="openDialogWithRef(infoOp)">
                  <i class="fas fa-info"></i>
                </div>

                <ng-template #infoOp>
                  <p matDialogContent class="alert-text">
                    {{"Ingrese el número de operación que figure en su voucher" | translate}}
                  </p>
        
                  <mat-dialog-actions align="end">
                    <button mat-flat-button color="warn" matDialogClose>{{"Cerrar" | translate}}</button>
                  </mat-dialog-actions>
              </ng-template>
              </div>

              <div class="form-register-camp">
                <mat-form-field>
                  <input autocomplete="off" matInput placeholder="Address" [disabled]="true" formControlName="addressFormControl" #address/>
                  
                  <mat-error *ngIf="sendFormulary.get('addressFormControl').invalid && sendFormulary.get('addressFormControl').value != 0">
                    {{"Debe ingresar un address válido" | translate}}
                  </mat-error>
            
                  <mat-error *ngIf="sendFormulary.get('addressFormControl').value == 0">
                    {{"Este campo es requerido" | translate}}
                  </mat-error>
                 
                </mat-form-field>

                <button mat-flat-button color="accent" class="button-login" id="metamask_login" type="button" [disabled]="true">
                  {{"Conectar" | translate}}
                </button>

                <div class="button-help" (click)="openDialogWithRef(infoAddress)">
                  <i class="fas fa-info"></i>
                </div>

                <ng-template #infoAddress>
                  <p matDialogContent class="alert-text">
                    {{"Pegue el address donde quieras que te lleguen tus FIRU's" | translate}}
                  </p>
        
                  <mat-dialog-actions align="end">
                    <button mat-flat-button color="warn" matDialogClose>{{"Cerrar" | translate}}</button>
                  </mat-dialog-actions>
              </ng-template>
              </div>


              <p id="token" class="image-text">{{"Conéctate para ver tu address aquí" | translate}}</p>

              <div class="form-register-camp">
                <mat-form-field>
                  <input autocomplete="off" matInput placeholder="Email" formControlName="emailFormControl" #email/>
                  <mat-error *ngIf="sendFormulary.get('emailFormControl').invalid && sendFormulary.get('emailFormControl').value != 0">
                    {{"Debe ingresar un email válido" | translate}}
                  </mat-error>

                  <mat-error *ngIf="sendFormulary.get('emailFormControl').value == 0">
                    {{"Este campo es requerido" | translate}}
                  </mat-error>
                </mat-form-field>
              </div>

              <p class="image-text">{{"Click dentro del recuadro para cargar una foto de tu voucher de pago" | translate}}</p>
              <input type="file" class="d-none" (change)="onPhotoSelected($event)" formControlName="imageFormControl" #photoInput/>
                
              <div class="image-content">
                <img [src]="photoSelected || 'assets/no-image-2.png'" class="img-fluid" (click)="photoInput.click()">
              </div>

              <div style="display: flex; align-items: center; justify-content: center; margin: 2rem 0;">
                <ngx-recaptcha2 #captchaElem
                  [siteKey]="siteKey"
                  formControlName="recaptchaFormControl">
                </ngx-recaptcha2>
              </div>
              

              
              <div class="button-formulary">
                <button mat-flat-button color="accent" [disabled]="sendFormulary.invalid" (click)="openDialogWithRef(registerSend)"> 
                  {{"Enviar" | translate}}
                </button>
              </div>

              <ng-template #registerSend>
                <p matDialogContent class="alert-text">
                  {{"Gracias por su colaboración, recibira un email de confirmación, revise su bandeja de entrada de lo contrario su bandeja 'spam'." | translate}}
                </p>
      
                <mat-dialog-actions align="end">
                  <button mat-flat-button color="warn" matDialogClose>{{"Cerrar" | translate}}</button>
                </mat-dialog-actions>
              </ng-template>
            </form>       

          </mat-card-content>
        </mat-card>

        </div>
    </div>  

</div>




<section id="section-qr">
  <div class="content-qr">
      <div class="qr-text">
          <div>
              <h2>{{"Puedes colaborar con nuestro proyecto depositando en:" | translate}}</h2>
              <p>
                  <span>{{"Dirección de recepción:" | translate}}</span><br>
                  0xCe0e30CbCbEBbC05D3fE7f7a4ADEbb21041bB1d2
              </p>
              <p>
                  <span>{{"Token aceptado:" | translate}}</span><br>
                  cualquier BEP20 (BSC)
              </p>
              <p style="margin-bottom: 0;">
                  <span>{{"Token preferido:" | translate}}</span><br>
                  FIRU
              </p>
          </div>      
      </div>

      <div class="qr-image">
          <img src="../../../assets/images/adquirir-page/firu-qr.jpg" alt="">
      </div>
  </div> 
</section>
